protex-sdk-client/src/main/config/wsdl/archivingApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ArchivingApiService" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:archiving" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:archiving" xmlns:ns1="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:archiving" elementFormDefault="unqualified" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:archiving" version="1.0">
<xs:element name="abortAllComponentExport" type="tns:abortAllComponentExport"/>
<xs:element name="abortAllComponentExportResponse" type="tns:abortAllComponentExportResponse"/>
<xs:element name="abortAllGlobalLearnedIdExport" type="tns:abortAllGlobalLearnedIdExport"/>
<xs:element name="abortAllGlobalLearnedIdExportResponse" type="tns:abortAllGlobalLearnedIdExportResponse"/>
<xs:element name="abortImport" type="tns:abortImport"/>
<xs:element name="abortImportResponse" type="tns:abortImportResponse"/>
<xs:element name="abortProjectExport" type="tns:abortProjectExport"/>
<xs:element name="abortProjectExportResponse" type="tns:abortProjectExportResponse"/>
<xs:element name="getAllComponentExportStatus" type="tns:getAllComponentExportStatus"/>
<xs:element name="getAllComponentExportStatusResponse" type="tns:getAllComponentExportStatusResponse"/>
<xs:element name="getAllGlobalLearnedIdExportStatus" type="tns:getAllGlobalLearnedIdExportStatus"/>
<xs:element name="getAllGlobalLearnedIdExportStatusResponse" type="tns:getAllGlobalLearnedIdExportStatusResponse"/>
<xs:element name="getImportStatus" type="tns:getImportStatus"/>
<xs:element name="getImportStatusResponse" type="tns:getImportStatusResponse"/>
<xs:element name="getProjectExportStatus" type="tns:getProjectExportStatus"/>
<xs:element name="getProjectExportStatusResponse" type="tns:getProjectExportStatusResponse"/>
<xs:element name="startExportingAllCustomComponents" type="tns:startExportingAllCustomComponents"/>
<xs:element name="startExportingAllCustomComponentsResponse" type="tns:startExportingAllCustomComponentsResponse"/>
<xs:element name="startExportingAllGlobalLearnedIds" type="tns:startExportingAllGlobalLearnedIds"/>
<xs:element name="startExportingAllGlobalLearnedIdsResponse" type="tns:startExportingAllGlobalLearnedIdsResponse"/>
<xs:element name="startExportingProject" type="tns:startExportingProject"/>
<xs:element name="startExportingProjectResponse" type="tns:startExportingProjectResponse"/>
<xs:element name="startImportingArchive" type="tns:startImportingArchive"/>
<xs:element name="startImportingArchiveResponse" type="tns:startImportingArchiveResponse"/>
<xs:complexType name="getAllComponentExportStatus">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllComponentExportStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:archivingExportStatus"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="archivingExportStatus">
<xs:complexContent>
<xs:extension base="tns:baseArchivingStatus">
<xs:sequence>
<xs:element minOccurs="0" name="outputFile" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="baseArchivingStatus">
<xs:sequence>
<xs:element minOccurs="0" name="dateAborted" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dateCompleted" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dateEnqueued" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dateStarted" type="xs:dateTime"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
<xs:element minOccurs="0" name="progress" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="archivingImportStatus">
<xs:complexContent>
<xs:extension base="tns:baseArchivingStatus">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="startExportingAllGlobalLearnedIds">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="startExportingAllGlobalLearnedIdsResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="startExportingProject">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element name="arg2" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="startExportingProjectResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="startExportingAllCustomComponents">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element name="arg1" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="startExportingAllCustomComponentsResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="abortImport">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="abortImportResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="abortAllGlobalLearnedIdExport">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="abortAllGlobalLearnedIdExportResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="abortAllComponentExport">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="abortAllComponentExportResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getImportStatus">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getImportStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:archivingImportStatus"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="startImportingArchive">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="startImportingArchiveResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllGlobalLearnedIdExportStatus">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllGlobalLearnedIdExportStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:archivingExportStatus"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="abortProjectExport">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="abortProjectExportResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getProjectExportStatus">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getProjectExportStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:archivingExportStatus"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:blackducksoftware.com:sdk:v7.0:fault" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:blackducksoftware.com:sdk:v7.0:fault">
<xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails"/>
<xs:complexType name="sdkFaultDetails">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="errorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="SERVER_REGISTRATION_ERROR"/>
<xs:enumeration value="SERVER_PERFORMING_UPDATE"/>
<xs:enumeration value="NO_ANALYSIS_RUNNING"/>
<xs:enumeration value="ANALYSIS_ALREADY_RUNNING"/>
<xs:enumeration value="NO_ARCHIVING_JOB"/>
<xs:enumeration value="ARCHIVING_JOB_ALREADY_RUNNING"/>
<xs:enumeration value="ARCHIVING_UNABLE_TO_IMPORT"/>
<xs:enumeration value="ARCHIVING_UNABLE_TO_WRITE_TO_TARGET"/>
<xs:enumeration value="INVALID_SOURCE_LOCATION_FOR_SCAN"/>
<xs:enumeration value="PROJECT_COULD_NOT_BE_LOCKED"/>
<xs:enumeration value="LICENSE_NAME_TOO_LONG"/>
<xs:enumeration value="LICENSE_TYPE_STANDARD_CANT_CHANGE_NAME"/>
<xs:enumeration value="TAG_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_IS_REFERENCED"/>
<xs:enumeration value="OBLIGATION_NOT_ASSIGNED"/>
<xs:enumeration value="DUPLICATE_LICENSE_NAME"/>
<xs:enumeration value="LICENSE_NOT_FOUND"/>
<xs:enumeration value="LICENSE_IN_USE"/>
<xs:enumeration value="CAN_NOT_RESET_CUSTOM_LICENSE"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_CATEGORY"/>
<xs:enumeration value="OBLIGATION_CATEGORY_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_CATEGORY_IN_USE"/>
<xs:enumeration value="OBLIGATION_CATEGORY_CAN_NOT_BE_DELETED"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_NAME"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_ASSIGNMENT"/>
<xs:enumeration value="INVALID_OBLIGATION_NAME"/>
<xs:enumeration value="OBLIGATION_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_IN_USE_BY_PROJECTS"/>
<xs:enumeration value="OBLIGATION_IN_USE_BY_LICENSES"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_NOT_FOUND"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_NAME"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_ASSOCIATION"/>
<xs:enumeration value="RAPID_ID_OPERATION_TYPE_DUPLICATE"/>
<xs:enumeration value="LEARNED_IDENTIFICATION_NOT_FOUND"/>
<xs:enumeration value="USER_NOT_ASSIGNED_TO_PROJECT"/>
<xs:enumeration value="UNKNOWN_ANALYSIS_DATABASE_OPTION"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_UPDATE_OF_STANDARD_PATTERN_NOT_ALLOWED"/>
<xs:enumeration value="CUSTOM_COMPONENT_IN_USE"/>
<xs:enumeration value="CUSTOM_COMPONENT_HAS_NO_SOURCE"/>
<xs:enumeration value="DUPLICATE_TEMPLATE_TITLE"/>
<xs:enumeration value="REPORT_TEMPLATE_NOT_FOUND"/>
<xs:enumeration value="DEFAULT_REPORT_TEMPLATE_NOT_SET"/>
<xs:enumeration value="DUPLICATE_PROJECT_NAME"/>
<xs:enumeration value="PROJECT_ANALYSIS_LOCAL_SOURCE_NOT_SUPPORTED"/>
<xs:enumeration value="OPTIONS_SETTING_NOT_ALLOWED"/>
<xs:enumeration value="OPTIONS_CANNOT_BE_FORCED_FOR_LOCAL_SEARCH_SETTINGS"/>
<xs:enumeration value="DUPLICATE_STRING_SEARCH_PATTERN_NAME"/>
<xs:enumeration value="DUPLICATE_FILE_DISCOVERY_PATTERN_NAME"/>
<xs:enumeration value="LINKING_PROJECTS_FORCES_CLONING_OF_WORK_RESULTS"/>
<xs:enumeration value="PROJECT_NOT_YET_ANALYZED"/>
<xs:enumeration value="DUPLICATE_USER_ASSIGNMENT"/>
<xs:enumeration value="PROJECT_NAME_TOO_LONG"/>
<xs:enumeration value="INVALID_PROJECT_NAME"/>
<xs:enumeration value="PROJECT_NOT_FOUND"/>
<xs:enumeration value="PROJECT_SYNCID_INVALID"/>
<xs:enumeration value="LINKING_GLOBALLY_DISABLED"/>
<xs:enumeration value="PROJECT_IN_USE"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_NAME_TOO_LONG"/>
<xs:enumeration value="ROLE_NOT_FOUND"/>
<xs:enumeration value="MINIMUM_ONE_ADMIN_USER"/>
<xs:enumeration value="REMOVE_SELF_AS_ADMIN_USER"/>
<xs:enumeration value="DUPLICATE_EMAIL_ADDRESS"/>
<xs:enumeration value="EMAIL_TOO_LONG"/>
<xs:enumeration value="FIRST_NAME_TOO_LONG"/>
<xs:enumeration value="LAST_NAME_TOO_LONG"/>
<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_TOO_LONG"/>
<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_DUPLICATE"/>
<xs:enumeration value="INVALID_EMAIL_ADDRESS"/>
<xs:enumeration value="USER_NOT_FOUND"/>
<xs:enumeration value="PASSWORD_TOO_SHORT"/>
<xs:enumeration value="PASSWORD_TOO_LONG"/>
<xs:enumeration value="STRING_SEARCH_DISCOVERY_NOT_FOUND"/>
<xs:enumeration value="STRING_SEARCH_REQUIRES_UPLOADED_SOURCE"/>
<xs:enumeration value="USAGE_LEVEL_INVALID_FOR_GIVEN_ID"/>
<xs:enumeration value="CANNOT_COPY_ID_PROJECT_SYNCHRONIZED"/>
<xs:enumeration value="CODE_TREE_PATH_NOT_FOUND"/>
<xs:enumeration value="CODE_TREE_GUARANTEED_EMPTY_RESULT"/>
<xs:enumeration value="NO_FILE_CONTENT"/>
<xs:enumeration value="CODE_TREE_PARENT_PATH_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_COMPONENT_NAME"/>
<xs:enumeration value="COMPONENT_NAME_TOO_LONG"/>
<xs:enumeration value="INVALID_COMPONENT_NAME"/>
<xs:enumeration value="COMPONENT_NOT_FOUND"/>
<xs:enumeration value="COMPONENT_VERSION_NOT_FOUND"/>
<xs:enumeration value="OPTION_IS_FORCED"/>
<xs:enumeration value="FILE_DISCOVERY_PATTERN_NOT_FOUND"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_NOT_FOUND"/>
<xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR"/>
<xs:enumeration value="UNKNOWN_REPORT_SECTION_ERROR"/>
<xs:enumeration value="PROTEX_FILE_SOURCE_NOT_AVAILABLE"/>
<xs:enumeration value="NOT_A_FILE_PATH"/>
<xs:enumeration value="ARGUMENT_VALUE_INVALID"/>
<xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="ARGUMENT_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="ARGUMENT_VALUE_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="INVALID_CREDENTIALS"/>
<xs:enumeration value="INSUFFICIENT_PERMISSION"/>
<xs:enumeration value="UNKNOWN_ERROR"/>
<xs:enumeration value="BOM_REFRESH_NOT_FINISHED"/>
<xs:enumeration value="BOM_COMPONENT_PROJECT_CANT_UPDATE"/>
<xs:enumeration value="UPDATE_BOM_COMPONENT_VERSION_NAME_OF_COMPONENT_VERSION_PROHIBITED"/>
<xs:enumeration value="TODO_CONVERT_EXCEPTION"/>
<xs:enumeration value="UNEXPECTED_RETURN_VALUE_ERROR"/>
<xs:enumeration value="OUT_OF_MEMORY_ERROR"/>
<xs:enumeration value="NO_SESSION_ID"/>
<xs:enumeration value="INVALID_SORT_KEY"/>
<xs:enumeration value="CAN_NOT_OPEN_TEMP_FILE"/>
<xs:enumeration value="CODEMATCH_SELF_IDENTIFICATION_MUST_MATCH_DECLARED_LICENSE"/>
<xs:enumeration value="IDENTIFICATION_NOT_FOUND"/>
<xs:enumeration value="IDENTIFICATION_LEARNING_CONFLICT"/>
<xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG"/>
<xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY"/>
<xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND"/>
<xs:enumeration value="EXTERNAL_ID_MAPPING_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING"/>
<xs:enumeration value="TEMPLATE_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_VERSION_NAME"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllComponentExportStatus">
    <wsdl:part name="parameters" element="tns:getAllComponentExportStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="abortAllGlobalLearnedIdExportResponse">
    <wsdl:part name="parameters" element="tns:abortAllGlobalLearnedIdExportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="abortImportResponse">
    <wsdl:part name="parameters" element="tns:abortImportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startExportingAllGlobalLearnedIds">
    <wsdl:part name="parameters" element="tns:startExportingAllGlobalLearnedIds">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="abortProjectExportResponse">
    <wsdl:part name="parameters" element="tns:abortProjectExportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startExportingProject">
    <wsdl:part name="parameters" element="tns:startExportingProject">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startImportingArchiveResponse">
    <wsdl:part name="parameters" element="tns:startImportingArchiveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SdkFault">
    <wsdl:part name="SdkFault" element="ns1:SdkFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="abortImport">
    <wsdl:part name="parameters" element="tns:abortImport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImportStatus">
    <wsdl:part name="parameters" element="tns:getImportStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImportStatusResponse">
    <wsdl:part name="parameters" element="tns:getImportStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllGlobalLearnedIdExportStatusResponse">
    <wsdl:part name="parameters" element="tns:getAllGlobalLearnedIdExportStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllGlobalLearnedIdExportStatus">
    <wsdl:part name="parameters" element="tns:getAllGlobalLearnedIdExportStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProjectExportStatus">
    <wsdl:part name="parameters" element="tns:getProjectExportStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startExportingAllCustomComponentsResponse">
    <wsdl:part name="parameters" element="tns:startExportingAllCustomComponentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startExportingAllCustomComponents">
    <wsdl:part name="parameters" element="tns:startExportingAllCustomComponents">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startExportingAllGlobalLearnedIdsResponse">
    <wsdl:part name="parameters" element="tns:startExportingAllGlobalLearnedIdsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="abortAllGlobalLearnedIdExport">
    <wsdl:part name="parameters" element="tns:abortAllGlobalLearnedIdExport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="abortAllComponentExport">
    <wsdl:part name="parameters" element="tns:abortAllComponentExport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProjectExportStatusResponse">
    <wsdl:part name="parameters" element="tns:getProjectExportStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startExportingProjectResponse">
    <wsdl:part name="parameters" element="tns:startExportingProjectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startImportingArchive">
    <wsdl:part name="parameters" element="tns:startImportingArchive">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllComponentExportStatusResponse">
    <wsdl:part name="parameters" element="tns:getAllComponentExportStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="abortProjectExport">
    <wsdl:part name="parameters" element="tns:abortProjectExport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="abortAllComponentExportResponse">
    <wsdl:part name="parameters" element="tns:abortAllComponentExportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArchivingApi">
    <wsdl:operation name="getAllComponentExportStatus">
      <wsdl:input name="getAllComponentExportStatus" message="tns:getAllComponentExportStatus">
    </wsdl:input>
      <wsdl:output name="getAllComponentExportStatusResponse" message="tns:getAllComponentExportStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startExportingAllGlobalLearnedIds">
      <wsdl:input name="startExportingAllGlobalLearnedIds" message="tns:startExportingAllGlobalLearnedIds">
    </wsdl:input>
      <wsdl:output name="startExportingAllGlobalLearnedIdsResponse" message="tns:startExportingAllGlobalLearnedIdsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startExportingProject">
      <wsdl:input name="startExportingProject" message="tns:startExportingProject">
    </wsdl:input>
      <wsdl:output name="startExportingProjectResponse" message="tns:startExportingProjectResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startExportingAllCustomComponents">
      <wsdl:input name="startExportingAllCustomComponents" message="tns:startExportingAllCustomComponents">
    </wsdl:input>
      <wsdl:output name="startExportingAllCustomComponentsResponse" message="tns:startExportingAllCustomComponentsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortImport">
      <wsdl:input name="abortImport" message="tns:abortImport">
    </wsdl:input>
      <wsdl:output name="abortImportResponse" message="tns:abortImportResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortAllGlobalLearnedIdExport">
      <wsdl:input name="abortAllGlobalLearnedIdExport" message="tns:abortAllGlobalLearnedIdExport">
    </wsdl:input>
      <wsdl:output name="abortAllGlobalLearnedIdExportResponse" message="tns:abortAllGlobalLearnedIdExportResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortAllComponentExport">
      <wsdl:input name="abortAllComponentExport" message="tns:abortAllComponentExport">
    </wsdl:input>
      <wsdl:output name="abortAllComponentExportResponse" message="tns:abortAllComponentExportResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImportStatus">
      <wsdl:input name="getImportStatus" message="tns:getImportStatus">
    </wsdl:input>
      <wsdl:output name="getImportStatusResponse" message="tns:getImportStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startImportingArchive">
      <wsdl:input name="startImportingArchive" message="tns:startImportingArchive">
    </wsdl:input>
      <wsdl:output name="startImportingArchiveResponse" message="tns:startImportingArchiveResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllGlobalLearnedIdExportStatus">
      <wsdl:input name="getAllGlobalLearnedIdExportStatus" message="tns:getAllGlobalLearnedIdExportStatus">
    </wsdl:input>
      <wsdl:output name="getAllGlobalLearnedIdExportStatusResponse" message="tns:getAllGlobalLearnedIdExportStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortProjectExport">
      <wsdl:input name="abortProjectExport" message="tns:abortProjectExport">
    </wsdl:input>
      <wsdl:output name="abortProjectExportResponse" message="tns:abortProjectExportResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProjectExportStatus">
      <wsdl:input name="getProjectExportStatus" message="tns:getProjectExportStatus">
    </wsdl:input>
      <wsdl:output name="getProjectExportStatusResponse" message="tns:getProjectExportStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArchivingApiServiceSoapBinding" type="tns:ArchivingApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllComponentExportStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllComponentExportStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllComponentExportStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startExportingAllGlobalLearnedIds">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startExportingAllGlobalLearnedIds">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startExportingAllGlobalLearnedIdsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startExportingProject">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startExportingProject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startExportingProjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startExportingAllCustomComponents">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startExportingAllCustomComponents">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startExportingAllCustomComponentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortImport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="abortImport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="abortImportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortAllGlobalLearnedIdExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="abortAllGlobalLearnedIdExport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="abortAllGlobalLearnedIdExportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortAllComponentExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="abortAllComponentExport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="abortAllComponentExportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImportStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getImportStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getImportStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startImportingArchive">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startImportingArchive">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startImportingArchiveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllGlobalLearnedIdExportStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllGlobalLearnedIdExportStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllGlobalLearnedIdExportStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortProjectExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="abortProjectExport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="abortProjectExportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProjectExportStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProjectExportStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProjectExportStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArchivingApiService">
    <wsdl:port name="ArchivingApiPort" binding="tns:ArchivingApiServiceSoapBinding">
      <soap:address location="http://localhost:9090/ArchivingApiPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
