protex-sdk-client/src/main/config/wsdl/bomApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BomApiService" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:bom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:bom" xmlns:ns1="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:obligation" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:obligation" version="1.0">

  <xs:complexType name="assignedObligation">
    <xs:complexContent>
      <xs:extension base="tns:assignedObligationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="fulfillmentInherited" type="xs:boolean"/>
          <xs:element minOccurs="0" name="obligationId" type="xs:string"/>
          <xs:element minOccurs="0" name="originObjectId" type="xs:string"/>
          <xs:element minOccurs="0" name="originType" type="tns:obligationOriginType"/>
          <xs:element minOccurs="0" name="reviewAndReportInherited" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="assignedObligationRequest">
    <xs:complexContent>
      <xs:extension base="tns:obligationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="fulfilled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="reviewAndReport" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="obligationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="obligationCategoryId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="obligationOriginType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROJECT"/>
      <xs:enumeration value="LICENSE"/>
      <xs:enumeration value="GLOBAL"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:license" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:license" version="1.0">

  <xs:complexType name="licenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="licenseId" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="licenseAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="antiDrmProvision" type="xs:boolean"/>
      <xs:element minOccurs="0" name="carriesDistributionObligations" type="xs:boolean"/>
      <xs:element minOccurs="0" name="changeNoticeRequired" type="xs:boolean"/>
      <xs:element minOccurs="0" name="chargingFees" type="tns:permittedOrRequired"/>
      <xs:element minOccurs="0" name="discriminatoryRestrictions" type="tns:restrictionType"/>
      <xs:element minOccurs="0" name="expressPatentLicense" type="xs:boolean"/>
      <xs:element minOccurs="0" name="grantRecipientRightToCopy" type="tns:permittedOrRequired"/>
      <xs:element minOccurs="0" name="grantRecipientRightToModify" type="tns:permittedOrRequired"/>
      <xs:element minOccurs="0" name="grantRecipientRightToReverseEngineer" type="tns:permittedOrRequired"/>
      <xs:element minOccurs="0" name="includeLicense" type="xs:boolean"/>
      <xs:element minOccurs="0" name="indemnificationRequired" type="xs:boolean"/>
      <xs:element minOccurs="0" name="integrationLevelForLicenseApplication" type="tns:licenseExtensionLevel"/>
      <xs:element minOccurs="0" name="licenseBackRequired" type="xs:boolean"/>
      <xs:element minOccurs="0" name="limitationOfLiabilityRequired" type="xs:boolean"/>
      <xs:element minOccurs="0" name="notice" type="xs:boolean"/>
      <xs:element minOccurs="0" name="patentRetaliation" type="xs:boolean"/>
      <xs:element minOccurs="0" name="promotionRestriction" type="xs:boolean"/>
      <xs:element minOccurs="0" name="rightToDistributeBinaryForMaximumUsage" type="tns:rightToDistributeBinaryForMaximumUsage"/>
      <xs:element minOccurs="0" name="shareAlikeReciprocity" type="xs:boolean"/>
      <xs:element minOccurs="0" name="sourceCodeDistribution" type="tns:permittedOrRequired"/>
      <xs:element minOccurs="0" name="warrantyDisclaimerRequired" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="permittedOrRequired">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_PERMITTED"/>
      <xs:enumeration value="PERMITTED"/>
      <xs:enumeration value="REQUIRED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="restrictionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HAS_RESTRICTIONS"/>
      <xs:enumeration value="HAS_NO_RESTRICTIONS"/>
      <xs:enumeration value="HAS_NO_RESTRICTIONS_AND_CAN_NOT_ADD_ANY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="licenseExtensionLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NON"/>
      <xs:enumeration value="FILE_PER_MPL"/>
      <xs:enumeration value="MODULE_PER_EPL_CPL"/>
      <xs:enumeration value="DYNAMIC_LIBRARY_PER_LGPL"/>
      <xs:enumeration value="WORK_BASED_ON_PER_GPL"/>
      <xs:enumeration value="ACCOMPANYING_SOFTWARE_USING_PER_SLEEPY_CAT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rightToDistributeBinaryForMaximumUsage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NON_COMMERCIAL_OR_PERSONAL_USE"/>
      <xs:enumeration value="INTERNAL_EVALUATION"/>
      <xs:enumeration value="INTERNAL_PRODUCTION_USE"/>
      <xs:enumeration value="ANY"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:identification" version="1.0">

  <xs:simpleType name="identificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DECLARATION"/>
      <xs:enumeration value="CODE_MATCH"/>
      <xs:enumeration value="STRING_SEARCH"/>
      <xs:enumeration value="DEPENDENCY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="identificationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RAPID_ID"/>
      <xs:enumeration value="MANUAL"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:common" version="1.0">

  <xs:complexType name="componentKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentId" type="xs:string"/>
      <xs:element minOccurs="0" name="versionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="approvalState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="APPROVED"/>
      <xs:enumeration value="DIS_APPROVED"/>
      <xs:enumeration value="NOT_REVIEWED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="componentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="STANDARD_MODIFIED"/>
      <xs:enumeration value="CUSTOM"/>
      <xs:enumeration value="PROJECT"/>
      <xs:enumeration value="LOCAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="usageLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FILE"/>
      <xs:enumeration value="SNIPPET"/>
      <xs:enumeration value="COMPONENT_MERELY_AGGREGATED"/>
      <xs:enumeration value="COMPONENT_DYNAMIC_LIBRARY"/>
      <xs:enumeration value="COMPONENT_SEPARATE_WORK"/>
      <xs:enumeration value="COMPONENT_MODULE"/>
      <xs:enumeration value="COMPONENT"/>
      <xs:enumeration value="PREREQUISITE"/>
      <xs:enumeration value="PREREQUISITE_SERVICE"/>
      <xs:enumeration value="PREREQUISITE_MERLY_AGGREGATED"/>
      <xs:enumeration value="PREREQUISITE_SEPARATE_WORK"/>
      <xs:enumeration value="PREREQUISITE_DYNAMIC_LIBRARY"/>
      <xs:enumeration value="PREREQUISITE_MODULE"/>
      <xs:enumeration value="IMPLEMENTATION_OF_STANDARD"/>
      <xs:enumeration value="DEVELOPMENT_TOOL"/>
      <xs:enumeration value="ORIGINAL_CODE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bomRefreshMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SKIP"/>
      <xs:enumeration value="ASYNCHRONOUS"/>
      <xs:enumeration value="SYNCHRONOUS"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:codetree" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:codetree" version="1.0">

  <xs:complexType name="codeTreeNode">
    <xs:complexContent>
      <xs:extension base="tns:sourceNode">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="nodeCounts" nillable="true" type="tns:nodeCount"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sourceNode">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="nodeType" type="tns:codeTreeNodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="nodeCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="count" type="xs:long"/>
      <xs:element minOccurs="0" name="countType" type="tns:nodeCountType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="nodeCountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIOLATIONS"/>
      <xs:enumeration value="LICENSE_CONFLICTS"/>
      <xs:enumeration value="DECLARED"/>
      <xs:enumeration value="NO_ISSUES"/>
      <xs:enumeration value="PENDING_REVIEW"/>
      <xs:enumeration value="APPROVED"/>
      <xs:enumeration value="DISAPPROVED"/>
      <xs:enumeration value="CODE_MATCH_IDENTIFIED"/>
      <xs:enumeration value="DEPENDENCY_IDENTIFIED"/>
      <xs:enumeration value="STRING_SEARCH_IDENTIFIED"/>
      <xs:enumeration value="FILES"/>
      <xs:enumeration value="FOLDERS"/>
      <xs:enumeration value="DISCOVERIES"/>
      <xs:enumeration value="PENDING_ID_ALL"/>
      <xs:enumeration value="PENDING_ID_CODE_MATCH"/>
      <xs:enumeration value="PENDING_ID_STRING_SEARCH"/>
      <xs:enumeration value="PENDING_ID_DEPENDENCY"/>
      <xs:enumeration value="NO_DISCOVERIES"/>
      <xs:enumeration value="PENDING_ID_FILE_PATTERN"/>
      <xs:enumeration value="DISCOVERED_COMPONENTS"/>
      <xs:enumeration value="DISCOVERED_LICENSES"/>
      <xs:enumeration value="MANUALLY_IDENTIFIED_FILES"/>
      <xs:enumeration value="RAPID_IDENTIFIED_FILES"/>
      <xs:enumeration value="ANALYZED_FILE_BYTES"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="codeTreeNodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FILE"/>
      <xs:enumeration value="EXPANDED_ARCHIVE"/>
      <xs:enumeration value="FOLDER"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:bom="urn:protex.blackducksoftware.com:sdk:v7.0:bom" xmlns:codetree="urn:protex.blackducksoftware.com:sdk:v7.0:codetree" xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:license="urn:protex.blackducksoftware.com:sdk:v7.0:license" xmlns:ns1="urn:protex.blackducksoftware.com:sdk:v7.0:identification" xmlns:obligation="urn:protex.blackducksoftware.com:sdk:v7.0:obligation" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:bom" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:bom" version="1.0">

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:common"/>

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:license"/>

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:obligation"/>

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:identification"/>

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:codetree"/>

  <xs:element name="addBomComponent" type="tns:addBomComponent"/>

  <xs:element name="addBomComponentResponse" type="tns:addBomComponentResponse"/>

  <xs:element name="getBomComponentChildren" type="tns:getBomComponentChildren"/>

  <xs:element name="getBomComponentChildrenResponse" type="tns:getBomComponentChildrenResponse"/>

  <xs:element name="getBomComponentCount" type="tns:getBomComponentCount"/>

  <xs:element name="getBomComponentCountResponse" type="tns:getBomComponentCountResponse"/>

  <xs:element name="getBomComponentLicenseViolatingAttributes" type="tns:getBomComponentLicenseViolatingAttributes"/>

  <xs:element name="getBomComponentLicenseViolatingAttributesResponse" type="tns:getBomComponentLicenseViolatingAttributesResponse"/>

  <xs:element name="getBomComponentObligations" type="tns:getBomComponentObligations"/>

  <xs:element name="getBomComponentObligationsResponse" type="tns:getBomComponentObligationsResponse"/>

  <xs:element name="getBomComponentParents" type="tns:getBomComponentParents"/>

  <xs:element name="getBomComponentParentsResponse" type="tns:getBomComponentParentsResponse"/>

  <xs:element name="getBomComponents" type="tns:getBomComponents"/>

  <xs:element name="getBomComponentsForPath" type="tns:getBomComponentsForPath"/>

  <xs:element name="getBomComponentsForPathResponse" type="tns:getBomComponentsForPathResponse"/>

  <xs:element name="getBomComponentsResponse" type="tns:getBomComponentsResponse"/>

  <xs:element name="getBomLicenseCount" type="tns:getBomLicenseCount"/>

  <xs:element name="getBomLicenseCountResponse" type="tns:getBomLicenseCountResponse"/>

  <xs:element name="getBomLicenseInfo" type="tns:getBomLicenseInfo"/>

  <xs:element name="getBomLicenseInfoResponse" type="tns:getBomLicenseInfoResponse"/>

  <xs:element name="getBomShippingCodeInfo" type="tns:getBomShippingCodeInfo"/>

  <xs:element name="getBomShippingCodeInfoResponse" type="tns:getBomShippingCodeInfoResponse"/>

  <xs:element name="getComponentComment" type="tns:getComponentComment"/>

  <xs:element name="getComponentCommentResponse" type="tns:getComponentCommentResponse"/>

  <xs:element name="getFilesIdentifiedTo" type="tns:getFilesIdentifiedTo"/>

  <xs:element name="getFilesIdentifiedToResponse" type="tns:getFilesIdentifiedToResponse"/>

  <xs:element name="getIdentifyBomUrl" type="tns:getIdentifyBomUrl"/>

  <xs:element name="getIdentifyBomUrlResponse" type="tns:getIdentifyBomUrlResponse"/>

  <xs:element name="getLastBomRefreshFinishDate" type="tns:getLastBomRefreshFinishDate"/>

  <xs:element name="getLastBomRefreshFinishDateResponse" type="tns:getLastBomRefreshFinishDateResponse"/>

  <xs:element name="getRefreshBomProgress" type="tns:getRefreshBomProgress"/>

  <xs:element name="getRefreshBomProgressResponse" type="tns:getRefreshBomProgressResponse"/>

  <xs:element name="refreshBom" type="tns:refreshBom"/>

  <xs:element name="refreshBomResponse" type="tns:refreshBomResponse"/>

  <xs:element name="removeBomComponent" type="tns:removeBomComponent"/>

  <xs:element name="removeBomComponentResponse" type="tns:removeBomComponentResponse"/>

  <xs:element name="repairBomAfterCrash" type="tns:repairBomAfterCrash"/>

  <xs:element name="repairBomAfterCrashResponse" type="tns:repairBomAfterCrashResponse"/>

  <xs:element name="setBomComponentObligationsStatus" type="tns:setBomComponentObligationsStatus"/>

  <xs:element name="setBomComponentObligationsStatusResponse" type="tns:setBomComponentObligationsStatusResponse"/>

  <xs:element name="setComponentComment" type="tns:setComponentComment"/>

  <xs:element name="setComponentCommentResponse" type="tns:setComponentCommentResponse"/>

  <xs:element name="updateBomComponent" type="tns:updateBomComponent"/>

  <xs:element name="updateBomComponentIdentification" type="tns:updateBomComponentIdentification"/>

  <xs:element name="updateBomComponentIdentificationResponse" type="tns:updateBomComponentIdentificationResponse"/>

  <xs:element name="updateBomComponentResponse" type="tns:updateBomComponentResponse"/>

  <xs:complexType name="repairBomAfterCrash">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="repairBomAfterCrashResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponents">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:bomComponent"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bomComponent">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="alternativeLicenseIds" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="approvalDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="approvalState" type="common:approvalState"/>
      <xs:element minOccurs="0" name="approvedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="bomVersionName" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element minOccurs="0" name="componentName" type="xs:string"/>
      <xs:element minOccurs="0" name="componentType" type="common:componentType"/>
      <xs:element minOccurs="0" name="conflictResolutionStatus" type="tns:conflictResolutionStatus"/>
      <xs:element minOccurs="0" name="declaredComponentFlag" type="xs:boolean"/>
      <xs:element minOccurs="0" name="fileCounts" type="tns:bomFileCounts"/>
      <xs:element minOccurs="0" name="hasComponentLicenseConflict" type="xs:boolean"/>
      <xs:element minOccurs="0" name="hasDeclaredLicenseConflict" type="xs:boolean"/>
      <xs:element minOccurs="0" name="licenseInfo" type="license:licenseInfo"/>
      <xs:element minOccurs="0" name="shippingStatus" type="tns:shippingStatus"/>
      <xs:element minOccurs="0" name="type" type="tns:bomComponentType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="usageLevels" nillable="true" type="common:usageLevel"/>
      <xs:element minOccurs="0" name="versionName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bomFileCounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="dependencies" type="xs:int"/>
      <xs:element minOccurs="0" name="identified" type="xs:int"/>
      <xs:element minOccurs="0" name="manualIdentifications" type="xs:int"/>
      <xs:element minOccurs="0" name="multipleIdentifications" type="xs:int"/>
      <xs:element minOccurs="0" name="pendingExactIdentification" type="xs:int"/>
      <xs:element minOccurs="0" name="pendingSnippetIdentification" type="xs:int"/>
      <xs:element minOccurs="0" name="rapidIdIdentifications" type="xs:int"/>
      <xs:element minOccurs="0" name="singleIdentification" type="xs:int"/>
      <xs:element minOccurs="0" name="stringSearches" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="refreshBom">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="refreshAllFiles" type="xs:boolean"/>
      <xs:element minOccurs="0" name="asynchronousRefresh" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="refreshBomResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBomComponentLicenseViolatingAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentLicenseViolatingAttributesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:licenseViolation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="licenseViolation">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element minOccurs="0" name="licenseInfo" type="license:licenseInfo"/>
      <xs:element minOccurs="0" name="violatingAttributes" type="license:licenseAttributes"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentCountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setComponentComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setComponentCommentResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateBomComponentIdentification">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element minOccurs="0" name="bomComponentUpdateRequest" type="tns:bomComponentRequest"/>
      <xs:element minOccurs="0" name="bomRefreshMode" type="common:bomRefreshMode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bomComponentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="approvalState" type="common:approvalState"/>
      <xs:element minOccurs="0" name="bomVersionName" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element minOccurs="0" name="conflictResolutionStatus" type="tns:conflictResolutionStatus"/>
      <xs:element minOccurs="0" name="licenseId" type="xs:string"/>
      <xs:element minOccurs="0" name="usageLevel" type="common:usageLevel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateBomComponentIdentificationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBomComponentObligations">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentObligationsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="obligation:assignedObligation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomShippingCodeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomShippingCodeInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bomShippingCodeInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bomShippingCodeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="openSourceComponentBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="ownedOpenSourceBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="pendingIdentificationBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="permissiveOpenSourceComponentsBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="proprietaryBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="proprietaryOwnedBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="proprietaryThirdPartyBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="reciprocalOpenSourceComponentBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="reciprocalOpenSourceFileBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="totalBytes" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getIdentifyBomUrl">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="filePath" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getIdentifyBomUrlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLastBomRefreshFinishDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLastBomRefreshFinishDateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRefreshBomProgress">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRefreshBomProgressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bomProgressStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bomProgressStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentPath" type="xs:string"/>
      <xs:element minOccurs="0" name="percentComplete" type="xs:int"/>
      <xs:element minOccurs="0" name="refreshStage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomLicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomLicenseInfoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:bomLicenseInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bomLicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="lastContributions" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="licenseId" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="shippingStatus" type="tns:shippingStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentParents">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentParentsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:bomComponentRelationship"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bomComponentRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element minOccurs="0" name="licenseInfo" type="license:licenseInfo"/>
      <xs:element minOccurs="0" name="type" type="tns:bomComponentType"/>
      <xs:element minOccurs="0" name="usageLevel" type="common:usageLevel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentsForPath">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="path" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentsForPathResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:bomComponent"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setBomComponentObligationsStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="obligationIds" type="xs:string"/>
      <xs:element minOccurs="0" name="fulfilledFlag" type="xs:boolean"/>
      <xs:element minOccurs="0" name="bomRefreshMode" type="common:bomRefreshMode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setBomComponentObligationsStatusResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getComponentComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getComponentCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeBomComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element minOccurs="0" name="forcedRemovalFlag" type="xs:boolean"/>
      <xs:element minOccurs="0" name="bomRefreshMode" type="common:bomRefreshMode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeBomComponentResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateBomComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="bomComponentUpdateRequest" type="tns:bomComponentRequest"/>
      <xs:element minOccurs="0" name="bomRefreshMode" type="common:bomRefreshMode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateBomComponentResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="addBomComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="bomComponentRequest" type="tns:bomComponentRequest"/>
      <xs:element minOccurs="0" name="bomRefreshMode" type="common:bomRefreshMode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addBomComponentResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getFilesIdentifiedTo">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="includedIdentificationTypes" type="ns1:identificationType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="includedIdentificationModes" type="ns1:identificationMode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFilesIdentifiedToResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="codetree:codeTreeNode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentChildren">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomComponentChildrenResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:bomComponentRelationship"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomLicenseCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBomLicenseCountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="conflictResolutionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LICENSE_CONFLICTS_SUPPRESSED"/>
      <xs:enumeration value="LICENSE_CONFLICTS_SHOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="shippingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SHIPPED"/>
      <xs:enumeration value="USED_AT_RUNTIME"/>
      <xs:enumeration value="IMPLEMENTATION_OF_STANDARD"/>
      <xs:enumeration value="USED_AT_DEVELOPMENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bomComponentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUBLIC"/>
      <xs:enumeration value="PROJECT"/>
      <xs:enumeration value="LOCAL"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:blackducksoftware.com:sdk:v7.0:fault">
  <xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails"/>
  <xs:complexType name="sdkFaultDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="errorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVER_REGISTRATION_ERROR"/>
      <xs:enumeration value="SERVER_PERFORMING_UPDATE"/>
      <xs:enumeration value="NO_ANALYSIS_RUNNING"/>
      <xs:enumeration value="ANALYSIS_ALREADY_RUNNING"/>
      <xs:enumeration value="NO_ARCHIVING_JOB"/>
      <xs:enumeration value="ARCHIVING_JOB_ALREADY_RUNNING"/>
      <xs:enumeration value="ARCHIVING_JOB_ALREADY_COMPLETED"/>
      <xs:enumeration value="ARCHIVING_UNABLE_TO_IMPORT"/>
      <xs:enumeration value="ARCHIVING_UNABLE_TO_WRITE_TO_TARGET"/>
      <xs:enumeration value="INVALID_SOURCE_LOCATION_FOR_SCAN"/>
      <xs:enumeration value="PROJECT_COULD_NOT_BE_LOCKED"/>
      <xs:enumeration value="LICENSE_NAME_TOO_LONG"/>
      <xs:enumeration value="LICENSE_TYPE_STANDARD_CANT_CHANGE_NAME"/>
      <xs:enumeration value="TAG_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_IS_REFERENCED"/>
      <xs:enumeration value="OBLIGATION_NOT_ASSIGNED"/>
      <xs:enumeration value="DUPLICATE_LICENSE_NAME"/>
      <xs:enumeration value="LICENSE_NOT_FOUND"/>
      <xs:enumeration value="LICENSE_IN_USE"/>
      <xs:enumeration value="CAN_NOT_RESET_CUSTOM_LICENSE"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_CATEGORY"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_IN_USE"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_CAN_NOT_BE_DELETED"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_NAME"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_ASSIGNMENT"/>
      <xs:enumeration value="INVALID_OBLIGATION_NAME"/>
      <xs:enumeration value="OBLIGATION_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_IN_USE_BY_PROJECTS"/>
      <xs:enumeration value="OBLIGATION_IN_USE_BY_LICENSES"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_NOT_FOUND"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_NAME"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_ASSOCIATION"/>
      <xs:enumeration value="RAPID_ID_OPERATION_TYPE_DUPLICATE"/>
      <xs:enumeration value="LEARNED_IDENTIFICATION_NOT_FOUND"/>
      <xs:enumeration value="USER_NOT_ASSIGNED_TO_PROJECT"/>
      <xs:enumeration value="UNKNOWN_ANALYSIS_DATABASE_OPTION"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_UPDATE_OF_STANDARD_PATTERN_NOT_ALLOWED"/>
      <xs:enumeration value="CUSTOM_COMPONENT_IN_USE"/>
      <xs:enumeration value="CUSTOM_COMPONENT_HAS_NO_SOURCE"/>
      <xs:enumeration value="DUPLICATE_TEMPLATE_TITLE"/>
      <xs:enumeration value="REPORT_TEMPLATE_NOT_FOUND"/>
      <xs:enumeration value="DEFAULT_REPORT_TEMPLATE_NOT_SET"/>
      <xs:enumeration value="DUPLICATE_PROJECT_NAME"/>
      <xs:enumeration value="PROJECT_ANALYSIS_LOCAL_SOURCE_NOT_SUPPORTED"/>
      <xs:enumeration value="OPTIONS_SETTING_NOT_ALLOWED"/>
      <xs:enumeration value="OPTIONS_CANNOT_BE_FORCED_FOR_LOCAL_SEARCH_SETTINGS"/>
      <xs:enumeration value="DUPLICATE_STRING_SEARCH_PATTERN_NAME"/>
      <xs:enumeration value="DUPLICATE_FILE_DISCOVERY_PATTERN_NAME"/>
      <xs:enumeration value="LINKING_PROJECTS_FORCES_CLONING_OF_WORK_RESULTS"/>
      <xs:enumeration value="PROJECT_NOT_YET_ANALYZED"/>
      <xs:enumeration value="DUPLICATE_USER_ASSIGNMENT"/>
      <xs:enumeration value="PROJECT_NAME_TOO_LONG"/>
      <xs:enumeration value="INVALID_PROJECT_NAME"/>
      <xs:enumeration value="PROJECT_NOT_FOUND"/>
      <xs:enumeration value="PROJECT_SYNCID_INVALID"/>
      <xs:enumeration value="LINKING_GLOBALLY_DISABLED"/>
      <xs:enumeration value="PROJECT_IN_USE"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_NAME_TOO_LONG"/>
      <xs:enumeration value="ROLE_NOT_FOUND"/>
      <xs:enumeration value="MINIMUM_ONE_ADMIN_USER"/>
      <xs:enumeration value="REMOVE_SELF_AS_ADMIN_USER"/>
      <xs:enumeration value="DUPLICATE_EMAIL_ADDRESS"/>
      <xs:enumeration value="EMAIL_TOO_LONG"/>
      <xs:enumeration value="FIRST_NAME_TOO_LONG"/>
      <xs:enumeration value="LAST_NAME_TOO_LONG"/>
      <xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_TOO_LONG"/>
      <xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_DUPLICATE"/>
      <xs:enumeration value="INVALID_EMAIL_ADDRESS"/>
      <xs:enumeration value="USER_NOT_FOUND"/>
      <xs:enumeration value="PASSWORD_TOO_SHORT"/>
      <xs:enumeration value="PASSWORD_TOO_LONG"/>
      <xs:enumeration value="STRING_SEARCH_DISCOVERY_NOT_FOUND"/>
      <xs:enumeration value="STRING_SEARCH_REQUIRES_UPLOADED_SOURCE"/>
      <xs:enumeration value="USAGE_LEVEL_INVALID_FOR_GIVEN_ID"/>
      <xs:enumeration value="CANNOT_COPY_ID_PROJECT_SYNCHRONIZED"/>
      <xs:enumeration value="CODE_TREE_PATH_NOT_FOUND"/>
      <xs:enumeration value="CODE_TREE_GUARANTEED_EMPTY_RESULT"/>
      <xs:enumeration value="NO_FILE_CONTENT"/>
      <xs:enumeration value="CODE_TREE_PARENT_PATH_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_COMPONENT_NAME"/>
      <xs:enumeration value="COMPONENT_NAME_TOO_LONG"/>
      <xs:enumeration value="INVALID_COMPONENT_NAME"/>
      <xs:enumeration value="COMPONENT_NOT_FOUND"/>
      <xs:enumeration value="COMPONENT_VERSION_NOT_FOUND"/>
      <xs:enumeration value="OPTION_IS_FORCED"/>
      <xs:enumeration value="FILE_DISCOVERY_PATTERN_NOT_FOUND"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_NOT_FOUND"/>
      <xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR"/>
      <xs:enumeration value="UNKNOWN_REPORT_SECTION_ERROR"/>
      <xs:enumeration value="PROTEX_FILE_SOURCE_NOT_AVAILABLE"/>
      <xs:enumeration value="NOT_A_FILE_PATH"/>
      <xs:enumeration value="ARGUMENT_VALUE_INVALID"/>
      <xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="ARGUMENT_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="ARGUMENT_VALUE_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="INVALID_CREDENTIALS"/>
      <xs:enumeration value="INSUFFICIENT_PERMISSION"/>
      <xs:enumeration value="UNKNOWN_ERROR"/>
      <xs:enumeration value="BOM_REFRESH_NOT_FINISHED"/>
      <xs:enumeration value="BOM_COMPONENT_PROJECT_CANT_UPDATE"/>
      <xs:enumeration value="UPDATE_BOM_COMPONENT_VERSION_NAME_OF_COMPONENT_VERSION_PROHIBITED"/>
      <xs:enumeration value="TODO_CONVERT_EXCEPTION"/>
      <xs:enumeration value="UNEXPECTED_RETURN_VALUE_ERROR"/>
      <xs:enumeration value="OUT_OF_MEMORY_ERROR"/>
      <xs:enumeration value="NO_SESSION_ID"/>
      <xs:enumeration value="INVALID_SORT_KEY"/>
      <xs:enumeration value="CAN_NOT_OPEN_TEMP_FILE"/>
      <xs:enumeration value="CODEMATCH_SELF_IDENTIFICATION_MUST_MATCH_DECLARED_LICENSE"/>
      <xs:enumeration value="IDENTIFICATION_NOT_FOUND"/>
      <xs:enumeration value="IDENTIFICATION_LEARNING_CONFLICT"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND"/>
      <xs:enumeration value="EXTERNAL_ID_MAPPING_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING"/>
      <xs:enumeration value="TEMPLATE_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_VERSION_NAME"/>
      <xs:enumeration value="OPERATION_DISABLED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="repairBomAfterCrash">
    <wsdl:part name="parameters" element="tns:repairBomAfterCrash">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdentifyBomUrlResponse">
    <wsdl:part name="parameters" element="tns:getIdentifyBomUrlResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setBomComponentObligationsStatusResponse">
    <wsdl:part name="parameters" element="tns:setBomComponentObligationsStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponents">
    <wsdl:part name="parameters" element="tns:getBomComponents">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBomComponentResponse">
    <wsdl:part name="parameters" element="tns:addBomComponentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setComponentComment">
    <wsdl:part name="parameters" element="tns:setComponentComment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getComponentCommentResponse">
    <wsdl:part name="parameters" element="tns:getComponentCommentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentLicenseViolatingAttributesResponse">
    <wsdl:part name="parameters" element="tns:getBomComponentLicenseViolatingAttributesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBomComponentIdentification">
    <wsdl:part name="parameters" element="tns:updateBomComponentIdentification">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refreshBomResponse">
    <wsdl:part name="parameters" element="tns:refreshBomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentObligations">
    <wsdl:part name="parameters" element="tns:getBomComponentObligations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomShippingCodeInfo">
    <wsdl:part name="parameters" element="tns:getBomShippingCodeInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentsForPathResponse">
    <wsdl:part name="parameters" element="tns:getBomComponentsForPathResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdentifyBomUrl">
    <wsdl:part name="parameters" element="tns:getIdentifyBomUrl">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomLicenseInfo">
    <wsdl:part name="parameters" element="tns:getBomLicenseInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentParents">
    <wsdl:part name="parameters" element="tns:getBomComponentParents">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastBomRefreshFinishDateResponse">
    <wsdl:part name="parameters" element="tns:getLastBomRefreshFinishDateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setBomComponentObligationsStatus">
    <wsdl:part name="parameters" element="tns:setBomComponentObligationsStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentCountResponse">
    <wsdl:part name="parameters" element="tns:getBomComponentCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBomComponent">
    <wsdl:part name="parameters" element="tns:updateBomComponent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentParentsResponse">
    <wsdl:part name="parameters" element="tns:getBomComponentParentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomShippingCodeInfoResponse">
    <wsdl:part name="parameters" element="tns:getBomShippingCodeInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBomComponentResponse">
    <wsdl:part name="parameters" element="tns:updateBomComponentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomLicenseCount">
    <wsdl:part name="parameters" element="tns:getBomLicenseCount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRefreshBomProgressResponse">
    <wsdl:part name="parameters" element="tns:getRefreshBomProgressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBomComponentIdentificationResponse">
    <wsdl:part name="parameters" element="tns:updateBomComponentIdentificationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refreshBom">
    <wsdl:part name="parameters" element="tns:refreshBom">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomLicenseCountResponse">
    <wsdl:part name="parameters" element="tns:getBomLicenseCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentLicenseViolatingAttributes">
    <wsdl:part name="parameters" element="tns:getBomComponentLicenseViolatingAttributes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentCount">
    <wsdl:part name="parameters" element="tns:getBomComponentCount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="repairBomAfterCrashResponse">
    <wsdl:part name="parameters" element="tns:repairBomAfterCrashResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setComponentCommentResponse">
    <wsdl:part name="parameters" element="tns:setComponentCommentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeBomComponentResponse">
    <wsdl:part name="parameters" element="tns:removeBomComponentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentObligationsResponse">
    <wsdl:part name="parameters" element="tns:getBomComponentObligationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastBomRefreshFinishDate">
    <wsdl:part name="parameters" element="tns:getLastBomRefreshFinishDate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRefreshBomProgress">
    <wsdl:part name="parameters" element="tns:getRefreshBomProgress">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFilesIdentifiedToResponse">
    <wsdl:part name="parameters" element="tns:getFilesIdentifiedToResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentsForPath">
    <wsdl:part name="parameters" element="tns:getBomComponentsForPath">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SdkFault">
    <wsdl:part name="SdkFault" element="ns1:SdkFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getComponentComment">
    <wsdl:part name="parameters" element="tns:getComponentComment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeBomComponent">
    <wsdl:part name="parameters" element="tns:removeBomComponent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomLicenseInfoResponse">
    <wsdl:part name="parameters" element="tns:getBomLicenseInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBomComponent">
    <wsdl:part name="parameters" element="tns:addBomComponent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentsResponse">
    <wsdl:part name="parameters" element="tns:getBomComponentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFilesIdentifiedTo">
    <wsdl:part name="parameters" element="tns:getFilesIdentifiedTo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentChildren">
    <wsdl:part name="parameters" element="tns:getBomComponentChildren">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBomComponentChildrenResponse">
    <wsdl:part name="parameters" element="tns:getBomComponentChildrenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BomApi">
    <wsdl:operation name="repairBomAfterCrash">
      <wsdl:input name="repairBomAfterCrash" message="tns:repairBomAfterCrash">
    </wsdl:input>
      <wsdl:output name="repairBomAfterCrashResponse" message="tns:repairBomAfterCrashResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponents">
      <wsdl:input name="getBomComponents" message="tns:getBomComponents">
    </wsdl:input>
      <wsdl:output name="getBomComponentsResponse" message="tns:getBomComponentsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="refreshBom">
      <wsdl:input name="refreshBom" message="tns:refreshBom">
    </wsdl:input>
      <wsdl:output name="refreshBomResponse" message="tns:refreshBomResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentLicenseViolatingAttributes">
      <wsdl:input name="getBomComponentLicenseViolatingAttributes" message="tns:getBomComponentLicenseViolatingAttributes">
    </wsdl:input>
      <wsdl:output name="getBomComponentLicenseViolatingAttributesResponse" message="tns:getBomComponentLicenseViolatingAttributesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentCount">
      <wsdl:input name="getBomComponentCount" message="tns:getBomComponentCount">
    </wsdl:input>
      <wsdl:output name="getBomComponentCountResponse" message="tns:getBomComponentCountResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setComponentComment">
      <wsdl:input name="setComponentComment" message="tns:setComponentComment">
    </wsdl:input>
      <wsdl:output name="setComponentCommentResponse" message="tns:setComponentCommentResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateBomComponentIdentification">
      <wsdl:input name="updateBomComponentIdentification" message="tns:updateBomComponentIdentification">
    </wsdl:input>
      <wsdl:output name="updateBomComponentIdentificationResponse" message="tns:updateBomComponentIdentificationResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentObligations">
      <wsdl:input name="getBomComponentObligations" message="tns:getBomComponentObligations">
    </wsdl:input>
      <wsdl:output name="getBomComponentObligationsResponse" message="tns:getBomComponentObligationsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomShippingCodeInfo">
      <wsdl:input name="getBomShippingCodeInfo" message="tns:getBomShippingCodeInfo">
    </wsdl:input>
      <wsdl:output name="getBomShippingCodeInfoResponse" message="tns:getBomShippingCodeInfoResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIdentifyBomUrl">
      <wsdl:input name="getIdentifyBomUrl" message="tns:getIdentifyBomUrl">
    </wsdl:input>
      <wsdl:output name="getIdentifyBomUrlResponse" message="tns:getIdentifyBomUrlResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastBomRefreshFinishDate">
      <wsdl:input name="getLastBomRefreshFinishDate" message="tns:getLastBomRefreshFinishDate">
    </wsdl:input>
      <wsdl:output name="getLastBomRefreshFinishDateResponse" message="tns:getLastBomRefreshFinishDateResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRefreshBomProgress">
      <wsdl:input name="getRefreshBomProgress" message="tns:getRefreshBomProgress">
    </wsdl:input>
      <wsdl:output name="getRefreshBomProgressResponse" message="tns:getRefreshBomProgressResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomLicenseInfo">
      <wsdl:input name="getBomLicenseInfo" message="tns:getBomLicenseInfo">
    </wsdl:input>
      <wsdl:output name="getBomLicenseInfoResponse" message="tns:getBomLicenseInfoResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentParents">
      <wsdl:input name="getBomComponentParents" message="tns:getBomComponentParents">
    </wsdl:input>
      <wsdl:output name="getBomComponentParentsResponse" message="tns:getBomComponentParentsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentsForPath">
      <wsdl:input name="getBomComponentsForPath" message="tns:getBomComponentsForPath">
    </wsdl:input>
      <wsdl:output name="getBomComponentsForPathResponse" message="tns:getBomComponentsForPathResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setBomComponentObligationsStatus">
      <wsdl:input name="setBomComponentObligationsStatus" message="tns:setBomComponentObligationsStatus">
    </wsdl:input>
      <wsdl:output name="setBomComponentObligationsStatusResponse" message="tns:setBomComponentObligationsStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getComponentComment">
      <wsdl:input name="getComponentComment" message="tns:getComponentComment">
    </wsdl:input>
      <wsdl:output name="getComponentCommentResponse" message="tns:getComponentCommentResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeBomComponent">
      <wsdl:input name="removeBomComponent" message="tns:removeBomComponent">
    </wsdl:input>
      <wsdl:output name="removeBomComponentResponse" message="tns:removeBomComponentResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateBomComponent">
      <wsdl:input name="updateBomComponent" message="tns:updateBomComponent">
    </wsdl:input>
      <wsdl:output name="updateBomComponentResponse" message="tns:updateBomComponentResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addBomComponent">
      <wsdl:input name="addBomComponent" message="tns:addBomComponent">
    </wsdl:input>
      <wsdl:output name="addBomComponentResponse" message="tns:addBomComponentResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFilesIdentifiedTo">
      <wsdl:input name="getFilesIdentifiedTo" message="tns:getFilesIdentifiedTo">
    </wsdl:input>
      <wsdl:output name="getFilesIdentifiedToResponse" message="tns:getFilesIdentifiedToResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentChildren">
      <wsdl:input name="getBomComponentChildren" message="tns:getBomComponentChildren">
    </wsdl:input>
      <wsdl:output name="getBomComponentChildrenResponse" message="tns:getBomComponentChildrenResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomLicenseCount">
      <wsdl:input name="getBomLicenseCount" message="tns:getBomLicenseCount">
    </wsdl:input>
      <wsdl:output name="getBomLicenseCountResponse" message="tns:getBomLicenseCountResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BomApiServiceSoapBinding" type="tns:BomApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="repairBomAfterCrash">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="repairBomAfterCrash">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="repairBomAfterCrashResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponents">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomComponents">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomComponentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="refreshBom">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="refreshBom">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="refreshBomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentLicenseViolatingAttributes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomComponentLicenseViolatingAttributes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomComponentLicenseViolatingAttributesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentCount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomComponentCount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomComponentCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setComponentComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setComponentComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setComponentCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateBomComponentIdentification">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateBomComponentIdentification">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateBomComponentIdentificationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentObligations">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomComponentObligations">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomComponentObligationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomShippingCodeInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomShippingCodeInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomShippingCodeInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIdentifyBomUrl">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getIdentifyBomUrl">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getIdentifyBomUrlResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastBomRefreshFinishDate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLastBomRefreshFinishDate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLastBomRefreshFinishDateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRefreshBomProgress">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRefreshBomProgress">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRefreshBomProgressResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomLicenseInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomLicenseInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomLicenseInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentParents">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomComponentParents">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomComponentParentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentsForPath">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomComponentsForPath">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomComponentsForPathResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setBomComponentObligationsStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setBomComponentObligationsStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setBomComponentObligationsStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getComponentComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getComponentComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getComponentCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeBomComponent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeBomComponent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeBomComponentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateBomComponent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateBomComponent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateBomComponentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addBomComponent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addBomComponent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addBomComponentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFilesIdentifiedTo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFilesIdentifiedTo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFilesIdentifiedToResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomComponentChildren">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomComponentChildren">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomComponentChildrenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBomLicenseCount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBomLicenseCount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBomLicenseCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BomApiService">
    <wsdl:port name="BomApiPort" binding="tns:BomApiServiceSoapBinding">
      <soap:address location="http://localhost:9090/BomApiPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
