protex-sdk-client/src/main/config/wsdl/customcomponentmanagementApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomComponentManagementApiService" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:customcomponentmanagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:customcomponentmanagement" xmlns:ns1="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:license="urn:protex.blackducksoftware.com:sdk:v7.0:license" xmlns:obligation="urn:protex.blackducksoftware.com:sdk:v7.0:obligation" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:project" xmlns:user="urn:protex.blackducksoftware.com:sdk:v7.0:user" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:project" version="1.0">

  <xs:complexType name="analysisSourceLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="hostname" type="xs:string"/>
      <xs:element minOccurs="0" name="repository" type="tns:analysisSourceRepository"/>
      <xs:element minOccurs="0" name="sourcePath" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="analysisSourceRepository">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REMOTE_SERVER"/>
      <xs:enumeration value="NETWORK_FOLDER"/>
      <xs:enumeration value="LOCAL_PROXY"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:ns1="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:ns2="urn:protex.blackducksoftware.com:sdk:v7.0:project" xmlns:ns3="urn:protex.blackducksoftware.com:sdk:v7.0:customcomponent" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:customcomponentmanagement" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:customcomponentmanagement" version="1.0">

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:common"/>

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:project"/>

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:customcomponent"/>

  <xs:element name="addFileDiscoveryPattern" type="tns:addFileDiscoveryPattern"/>

  <xs:element name="addFileDiscoveryPatternResponse" type="tns:addFileDiscoveryPatternResponse"/>

  <xs:element name="cancelCodeprinting" type="tns:cancelCodeprinting"/>

  <xs:element name="cancelCodeprintingResponse" type="tns:cancelCodeprintingResponse"/>

  <xs:element name="getCodeprintingStatus" type="tns:getCodeprintingStatus"/>

  <xs:element name="getCodeprintingStatusResponse" type="tns:getCodeprintingStatusResponse"/>

  <xs:element name="getCustomComponentSetting" type="tns:getCustomComponentSetting"/>

  <xs:element name="getCustomComponentSettingResponse" type="tns:getCustomComponentSettingResponse"/>

  <xs:element name="getCustomComponentSettings" type="tns:getCustomComponentSettings"/>

  <xs:element name="getCustomComponentSettingsResponse" type="tns:getCustomComponentSettingsResponse"/>

  <xs:element name="getFileDiscoveryPatterns" type="tns:getFileDiscoveryPatterns"/>

  <xs:element name="getFileDiscoveryPatternsResponse" type="tns:getFileDiscoveryPatternsResponse"/>

  <xs:element name="removeFileDiscoveryPattern" type="tns:removeFileDiscoveryPattern"/>

  <xs:element name="removeFileDiscoveryPatternResponse" type="tns:removeFileDiscoveryPatternResponse"/>

  <xs:element name="resetFileDiscoveryPattern" type="tns:resetFileDiscoveryPattern"/>

  <xs:element name="resetFileDiscoveryPatternResponse" type="tns:resetFileDiscoveryPatternResponse"/>

  <xs:element name="startCodeprinting" type="tns:startCodeprinting"/>

  <xs:element name="startCodeprintingResponse" type="tns:startCodeprintingResponse"/>

  <xs:element name="updateCustomComponentSettings" type="tns:updateCustomComponentSettings"/>

  <xs:element name="updateCustomComponentSettingsResponse" type="tns:updateCustomComponentSettingsResponse"/>

  <xs:element name="updateFileDiscoveryPattern" type="tns:updateFileDiscoveryPattern"/>

  <xs:element name="updateFileDiscoveryPatternResponse" type="tns:updateFileDiscoveryPatternResponse"/>

  <xs:complexType name="getCodeprintingStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCodeprintingStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:analysisStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetFileDiscoveryPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
      <xs:element minOccurs="0" name="patternId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetFileDiscoveryPatternResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCustomComponentSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomComponentSettingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:customComponentSettings"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addFileDiscoveryPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
      <xs:element minOccurs="0" name="patternRequest" type="ns1:fileDiscoveryPatternRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addFileDiscoveryPatternResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="startCodeprinting">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
      <xs:element minOccurs="0" name="reanalyzeAllFiles" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="startCodeprintingResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateCustomComponentSettings">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="customComponentSettings" type="ns3:customComponentSettings"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCustomComponentSettingsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="cancelCodeprinting">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelCodeprintingResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCustomComponentSettings">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="customComponentKeys" type="ns1:componentKey"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomComponentSettingsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns3:customComponentSettings"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateFileDiscoveryPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
      <xs:element minOccurs="0" name="patternId" type="xs:string"/>
      <xs:element minOccurs="0" name="patternRequest" type="ns1:fileDiscoveryPatternRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateFileDiscoveryPatternResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getFileDiscoveryPatterns">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="originTypes" type="ns1:patternOriginType"/>
      <xs:element minOccurs="0" name="pageFilter" type="ns1:fileDiscoveryPatternPageFilter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFileDiscoveryPatternsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:fileDiscoveryPattern"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeFileDiscoveryPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="customComponentKey" type="ns1:componentKey"/>
      <xs:element minOccurs="0" name="patternId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeFileDiscoveryPatternResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:license="urn:protex.blackducksoftware.com:sdk:v7.0:license" xmlns:ns1="urn:protex.blackducksoftware.com:sdk:v7.0:project" xmlns:obligation="urn:protex.blackducksoftware.com:sdk:v7.0:obligation" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:customcomponent" version="1.0">

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:project"/>

  <xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:common"/>

  <xs:complexType name="customComponentSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="analysisSourceLocation" type="ns1:analysisSourceLocation"/>
      <xs:element minOccurs="0" name="codePrintSourceUploadOption" type="common:codePrintSourceUploadOption"/>
      <xs:element minOccurs="0" name="componentKey" type="common:componentKey"/>
      <xs:element minOccurs="0" name="decompressCompressedFilesOption" type="xs:boolean"/>
      <xs:element minOccurs="0" name="expandArchivesOption" type="common:expandArchivesOption"/>
      <xs:element minOccurs="0" name="fileMatchesOption" type="xs:boolean"/>
      <xs:element minOccurs="0" name="originalCode" type="xs:boolean"/>
      <xs:element minOccurs="0" name="snippetMatchesOption" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:common" version="1.0">

  <xs:element name="analysisPhase" type="tns:analysisPhase"/>

  <xs:complexType name="componentKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="componentId" type="xs:string"/>
      <xs:element minOccurs="0" name="versionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="analysisStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="analysisPendingBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="analysisPendingFileCount" type="xs:int"/>
      <xs:element minOccurs="0" name="analysisPhase" type="tns:analysisPhase"/>
      <xs:element minOccurs="0" name="analyzedBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="analyzedFileCount" type="xs:int"/>
      <xs:element minOccurs="0" name="currentFile" type="xs:string"/>
      <xs:element minOccurs="0" name="currentPhasePercentCompleted" type="xs:int"/>
      <xs:element minOccurs="0" name="elapsedTime" type="xs:long"/>
      <xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="finished" type="xs:boolean"/>
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="startedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="totalBytes" type="xs:long"/>
      <xs:element minOccurs="0" name="totalFileCount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fileDiscoveryPatternRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="binaryDependenciesOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="decompressCompressedFilesOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="defaultUsage" type="tns:usageLevel"/>
      <xs:element minOccurs="0" name="expandArchivesOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="fileMatchesOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="fileType" type="tns:fileType"/>
      <xs:element minOccurs="0" name="flagAsPendingIdentificationOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="javaImportOrCIncludeDependenciesOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="javaPackageStatementDependenciesOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="pattern" type="xs:string"/>
      <xs:element minOccurs="0" name="snippetMatchesOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="stringSearchesOption" type="tns:guardedBooleanOption"/>
      <xs:element minOccurs="0" name="uploadSourceCodeOption" type="tns:guardedBooleanOption"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="guardedBooleanOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="guarded" type="tns:guardedByFileType"/>
      <xs:element minOccurs="0" name="option" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fileDiscoveryPatternPageFilter">
    <xs:complexContent>
      <xs:extension base="tns:pageFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="sortedColumn" type="tns:fileDiscoveryPatternColumn"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="pageFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstRowIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="lastRowIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="sortAscending" type="xs:boolean"/>
      <xs:element minOccurs="0" name="sortType" type="tns:sortType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fileDiscoveryPattern">
    <xs:complexContent>
      <xs:extension base="tns:fileDiscoveryPatternRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="originType" type="tns:patternOriginType"/>
          <xs:element minOccurs="0" name="patternId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="analysisPhase">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INITIALIZING"/>
      <xs:enumeration value="ASSESSING"/>
      <xs:enumeration value="SCANNING"/>
      <xs:enumeration value="ANALYZING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="codePrintSourceUploadOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENABLED"/>
      <xs:enumeration value="DISABLED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="expandArchivesOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXPAND_NONE"/>
      <xs:enumeration value="EXPAND_ALL"/>
      <xs:enumeration value="EXPAND_UNMATCHED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="guardedByFileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISABLED"/>
      <xs:enumeration value="FORCED"/>
      <xs:enumeration value="EDITABLE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="usageLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FILE"/>
      <xs:enumeration value="SNIPPET"/>
      <xs:enumeration value="COMPONENT_MERELY_AGGREGATED"/>
      <xs:enumeration value="COMPONENT_DYNAMIC_LIBRARY"/>
      <xs:enumeration value="COMPONENT_SEPARATE_WORK"/>
      <xs:enumeration value="COMPONENT_MODULE"/>
      <xs:enumeration value="COMPONENT"/>
      <xs:enumeration value="PREREQUISITE"/>
      <xs:enumeration value="PREREQUISITE_SERVICE"/>
      <xs:enumeration value="PREREQUISITE_MERLY_AGGREGATED"/>
      <xs:enumeration value="PREREQUISITE_SEPARATE_WORK"/>
      <xs:enumeration value="PREREQUISITE_DYNAMIC_LIBRARY"/>
      <xs:enumeration value="PREREQUISITE_MODULE"/>
      <xs:enumeration value="IMPLEMENTATION_OF_STANDARD"/>
      <xs:enumeration value="DEVELOPMENT_TOOL"/>
      <xs:enumeration value="ORIGINAL_CODE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TEXT"/>
      <xs:enumeration value="BINARY"/>
      <xs:enumeration value="BINARY_JAVA_CLASS"/>
      <xs:enumeration value="BINARY_ELF"/>
      <xs:enumeration value="BINARY_MICROSOFT_DLL"/>
      <xs:enumeration value="BINARY_MICROSOFT_PORTABLE_EXECUTABLE"/>
      <xs:enumeration value="BINARY_GENERIC_OBJECT_FILE"/>
      <xs:enumeration value="JAVA_SOURCE"/>
      <xs:enumeration value="C_SOURCE"/>
      <xs:enumeration value="ARCHIVE"/>
      <xs:enumeration value="ARCHIVE_TAR"/>
      <xs:enumeration value="ARCHIVE_JAR_WAR"/>
      <xs:enumeration value="ARCHIVE_ZIP"/>
      <xs:enumeration value="COMPRESSED_GZIP"/>
      <xs:enumeration value="COMPRESSED_BZIP2"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value="IGNORED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="patternOriginType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="GLOBAL_CUSTOM"/>
      <xs:enumeration value="MODIFIED"/>
      <xs:enumeration value="LOCAL_CUSTOM"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fileDiscoveryPatternColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PATTERN"/>
      <xs:enumeration value="FILE_TYPE"/>
      <xs:enumeration value="SNIPPET_MATCHES_OPTION"/>
      <xs:enumeration value="FILE_MATCHES_OPTION"/>
      <xs:enumeration value="STRING_SEARCHES_OPTION"/>
      <xs:enumeration value="JAVA_IMPORTS_OR_C_INCLUDE_DEPENDENCIES_OPTION"/>
      <xs:enumeration value="BINARY_DEPENDENCIES_OPTION"/>
      <xs:enumeration value="DECOMPRESS_COMPRESSED_FILES_OPTION"/>
      <xs:enumeration value="EXPAND_ARCHIVES_OPTION"/>
      <xs:enumeration value="FLAG_AS_PENDING_ID_OPTION"/>
      <xs:enumeration value="UPLOAD_SOURCE_CODE_OPTION"/>
      <xs:enumeration value="PACKAGE_STATEMENT_DEPENDENCIES_OPTION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALPHABETICAL_CASE_INSENSITIVE"/>
      <xs:enumeration value="NUMERIC"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:blackducksoftware.com:sdk:v7.0:fault">
  <xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails"/>
  <xs:complexType name="sdkFaultDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="errorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVER_REGISTRATION_ERROR"/>
      <xs:enumeration value="SERVER_PERFORMING_UPDATE"/>
      <xs:enumeration value="NO_ANALYSIS_RUNNING"/>
      <xs:enumeration value="ANALYSIS_ALREADY_RUNNING"/>
      <xs:enumeration value="NO_ARCHIVING_JOB"/>
      <xs:enumeration value="ARCHIVING_JOB_ALREADY_RUNNING"/>
      <xs:enumeration value="ARCHIVING_JOB_ALREADY_COMPLETED"/>
      <xs:enumeration value="ARCHIVING_UNABLE_TO_IMPORT"/>
      <xs:enumeration value="ARCHIVING_UNABLE_TO_WRITE_TO_TARGET"/>
      <xs:enumeration value="INVALID_SOURCE_LOCATION_FOR_SCAN"/>
      <xs:enumeration value="PROJECT_COULD_NOT_BE_LOCKED"/>
      <xs:enumeration value="LICENSE_NAME_TOO_LONG"/>
      <xs:enumeration value="LICENSE_TYPE_STANDARD_CANT_CHANGE_NAME"/>
      <xs:enumeration value="TAG_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_IS_REFERENCED"/>
      <xs:enumeration value="OBLIGATION_NOT_ASSIGNED"/>
      <xs:enumeration value="DUPLICATE_LICENSE_NAME"/>
      <xs:enumeration value="LICENSE_NOT_FOUND"/>
      <xs:enumeration value="LICENSE_IN_USE"/>
      <xs:enumeration value="CAN_NOT_RESET_CUSTOM_LICENSE"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_CATEGORY"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_IN_USE"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_CAN_NOT_BE_DELETED"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_NAME"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_ASSIGNMENT"/>
      <xs:enumeration value="INVALID_OBLIGATION_NAME"/>
      <xs:enumeration value="OBLIGATION_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_IN_USE_BY_PROJECTS"/>
      <xs:enumeration value="OBLIGATION_IN_USE_BY_LICENSES"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_NOT_FOUND"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_NAME"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_ASSOCIATION"/>
      <xs:enumeration value="RAPID_ID_OPERATION_TYPE_DUPLICATE"/>
      <xs:enumeration value="LEARNED_IDENTIFICATION_NOT_FOUND"/>
      <xs:enumeration value="USER_NOT_ASSIGNED_TO_PROJECT"/>
      <xs:enumeration value="UNKNOWN_ANALYSIS_DATABASE_OPTION"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_UPDATE_OF_STANDARD_PATTERN_NOT_ALLOWED"/>
      <xs:enumeration value="CUSTOM_COMPONENT_IN_USE"/>
      <xs:enumeration value="CUSTOM_COMPONENT_HAS_NO_SOURCE"/>
      <xs:enumeration value="DUPLICATE_TEMPLATE_TITLE"/>
      <xs:enumeration value="REPORT_TEMPLATE_NOT_FOUND"/>
      <xs:enumeration value="DEFAULT_REPORT_TEMPLATE_NOT_SET"/>
      <xs:enumeration value="DUPLICATE_PROJECT_NAME"/>
      <xs:enumeration value="PROJECT_ANALYSIS_LOCAL_SOURCE_NOT_SUPPORTED"/>
      <xs:enumeration value="OPTIONS_SETTING_NOT_ALLOWED"/>
      <xs:enumeration value="OPTIONS_CANNOT_BE_FORCED_FOR_LOCAL_SEARCH_SETTINGS"/>
      <xs:enumeration value="DUPLICATE_STRING_SEARCH_PATTERN_NAME"/>
      <xs:enumeration value="DUPLICATE_FILE_DISCOVERY_PATTERN_NAME"/>
      <xs:enumeration value="LINKING_PROJECTS_FORCES_CLONING_OF_WORK_RESULTS"/>
      <xs:enumeration value="PROJECT_NOT_YET_ANALYZED"/>
      <xs:enumeration value="DUPLICATE_USER_ASSIGNMENT"/>
      <xs:enumeration value="PROJECT_NAME_TOO_LONG"/>
      <xs:enumeration value="INVALID_PROJECT_NAME"/>
      <xs:enumeration value="PROJECT_NOT_FOUND"/>
      <xs:enumeration value="PROJECT_SYNCID_INVALID"/>
      <xs:enumeration value="LINKING_GLOBALLY_DISABLED"/>
      <xs:enumeration value="PROJECT_IN_USE"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_NAME_TOO_LONG"/>
      <xs:enumeration value="ROLE_NOT_FOUND"/>
      <xs:enumeration value="MINIMUM_ONE_ADMIN_USER"/>
      <xs:enumeration value="REMOVE_SELF_AS_ADMIN_USER"/>
      <xs:enumeration value="DUPLICATE_EMAIL_ADDRESS"/>
      <xs:enumeration value="EMAIL_TOO_LONG"/>
      <xs:enumeration value="FIRST_NAME_TOO_LONG"/>
      <xs:enumeration value="LAST_NAME_TOO_LONG"/>
      <xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_TOO_LONG"/>
      <xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_DUPLICATE"/>
      <xs:enumeration value="INVALID_EMAIL_ADDRESS"/>
      <xs:enumeration value="USER_NOT_FOUND"/>
      <xs:enumeration value="PASSWORD_TOO_SHORT"/>
      <xs:enumeration value="PASSWORD_TOO_LONG"/>
      <xs:enumeration value="STRING_SEARCH_DISCOVERY_NOT_FOUND"/>
      <xs:enumeration value="STRING_SEARCH_REQUIRES_UPLOADED_SOURCE"/>
      <xs:enumeration value="USAGE_LEVEL_INVALID_FOR_GIVEN_ID"/>
      <xs:enumeration value="CANNOT_COPY_ID_PROJECT_SYNCHRONIZED"/>
      <xs:enumeration value="CODE_TREE_PATH_NOT_FOUND"/>
      <xs:enumeration value="CODE_TREE_GUARANTEED_EMPTY_RESULT"/>
      <xs:enumeration value="NO_FILE_CONTENT"/>
      <xs:enumeration value="CODE_TREE_PARENT_PATH_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_COMPONENT_NAME"/>
      <xs:enumeration value="COMPONENT_NAME_TOO_LONG"/>
      <xs:enumeration value="INVALID_COMPONENT_NAME"/>
      <xs:enumeration value="COMPONENT_NOT_FOUND"/>
      <xs:enumeration value="COMPONENT_VERSION_NOT_FOUND"/>
      <xs:enumeration value="OPTION_IS_FORCED"/>
      <xs:enumeration value="FILE_DISCOVERY_PATTERN_NOT_FOUND"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_NOT_FOUND"/>
      <xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR"/>
      <xs:enumeration value="UNKNOWN_REPORT_SECTION_ERROR"/>
      <xs:enumeration value="PROTEX_FILE_SOURCE_NOT_AVAILABLE"/>
      <xs:enumeration value="NOT_A_FILE_PATH"/>
      <xs:enumeration value="ARGUMENT_VALUE_INVALID"/>
      <xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="ARGUMENT_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="ARGUMENT_VALUE_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="INVALID_CREDENTIALS"/>
      <xs:enumeration value="INSUFFICIENT_PERMISSION"/>
      <xs:enumeration value="UNKNOWN_ERROR"/>
      <xs:enumeration value="BOM_REFRESH_NOT_FINISHED"/>
      <xs:enumeration value="BOM_COMPONENT_PROJECT_CANT_UPDATE"/>
      <xs:enumeration value="UPDATE_BOM_COMPONENT_VERSION_NAME_OF_COMPONENT_VERSION_PROHIBITED"/>
      <xs:enumeration value="TODO_CONVERT_EXCEPTION"/>
      <xs:enumeration value="UNEXPECTED_RETURN_VALUE_ERROR"/>
      <xs:enumeration value="OUT_OF_MEMORY_ERROR"/>
      <xs:enumeration value="NO_SESSION_ID"/>
      <xs:enumeration value="INVALID_SORT_KEY"/>
      <xs:enumeration value="CAN_NOT_OPEN_TEMP_FILE"/>
      <xs:enumeration value="CODEMATCH_SELF_IDENTIFICATION_MUST_MATCH_DECLARED_LICENSE"/>
      <xs:enumeration value="IDENTIFICATION_NOT_FOUND"/>
      <xs:enumeration value="IDENTIFICATION_LEARNING_CONFLICT"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND"/>
      <xs:enumeration value="EXTERNAL_ID_MAPPING_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING"/>
      <xs:enumeration value="TEMPLATE_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_VERSION_NAME"/>
      <xs:enumeration value="OPERATION_DISABLED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getFileDiscoveryPatternsResponse">
    <wsdl:part name="parameters" element="tns:getFileDiscoveryPatternsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCodeprintingStatus">
    <wsdl:part name="parameters" element="tns:getCodeprintingStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startCodeprinting">
    <wsdl:part name="parameters" element="tns:startCodeprinting">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelCodeprintingResponse">
    <wsdl:part name="parameters" element="tns:cancelCodeprintingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SdkFault">
    <wsdl:part name="SdkFault" element="ns1:SdkFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCustomComponentSettingsResponse">
    <wsdl:part name="parameters" element="tns:updateCustomComponentSettingsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addFileDiscoveryPatternResponse">
    <wsdl:part name="parameters" element="tns:addFileDiscoveryPatternResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCodeprintingStatusResponse">
    <wsdl:part name="parameters" element="tns:getCodeprintingStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateFileDiscoveryPattern">
    <wsdl:part name="parameters" element="tns:updateFileDiscoveryPattern">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomComponentSettingResponse">
    <wsdl:part name="parameters" element="tns:getCustomComponentSettingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startCodeprintingResponse">
    <wsdl:part name="parameters" element="tns:startCodeprintingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFileDiscoveryPatterns">
    <wsdl:part name="parameters" element="tns:getFileDiscoveryPatterns">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetFileDiscoveryPattern">
    <wsdl:part name="parameters" element="tns:resetFileDiscoveryPattern">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomComponentSetting">
    <wsdl:part name="parameters" element="tns:getCustomComponentSetting">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomComponentSettingsResponse">
    <wsdl:part name="parameters" element="tns:getCustomComponentSettingsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addFileDiscoveryPattern">
    <wsdl:part name="parameters" element="tns:addFileDiscoveryPattern">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCustomComponentSettings">
    <wsdl:part name="parameters" element="tns:updateCustomComponentSettings">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateFileDiscoveryPatternResponse">
    <wsdl:part name="parameters" element="tns:updateFileDiscoveryPatternResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelCodeprinting">
    <wsdl:part name="parameters" element="tns:cancelCodeprinting">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomComponentSettings">
    <wsdl:part name="parameters" element="tns:getCustomComponentSettings">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeFileDiscoveryPatternResponse">
    <wsdl:part name="parameters" element="tns:removeFileDiscoveryPatternResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetFileDiscoveryPatternResponse">
    <wsdl:part name="parameters" element="tns:resetFileDiscoveryPatternResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeFileDiscoveryPattern">
    <wsdl:part name="parameters" element="tns:removeFileDiscoveryPattern">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomComponentManagementApi">
    <wsdl:operation name="getCodeprintingStatus">
      <wsdl:input name="getCodeprintingStatus" message="tns:getCodeprintingStatus">
    </wsdl:input>
      <wsdl:output name="getCodeprintingStatusResponse" message="tns:getCodeprintingStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resetFileDiscoveryPattern">
      <wsdl:input name="resetFileDiscoveryPattern" message="tns:resetFileDiscoveryPattern">
    </wsdl:input>
      <wsdl:output name="resetFileDiscoveryPatternResponse" message="tns:resetFileDiscoveryPatternResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomComponentSetting">
      <wsdl:input name="getCustomComponentSetting" message="tns:getCustomComponentSetting">
    </wsdl:input>
      <wsdl:output name="getCustomComponentSettingResponse" message="tns:getCustomComponentSettingResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addFileDiscoveryPattern">
      <wsdl:input name="addFileDiscoveryPattern" message="tns:addFileDiscoveryPattern">
    </wsdl:input>
      <wsdl:output name="addFileDiscoveryPatternResponse" message="tns:addFileDiscoveryPatternResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startCodeprinting">
      <wsdl:input name="startCodeprinting" message="tns:startCodeprinting">
    </wsdl:input>
      <wsdl:output name="startCodeprintingResponse" message="tns:startCodeprintingResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCustomComponentSettings">
      <wsdl:input name="updateCustomComponentSettings" message="tns:updateCustomComponentSettings">
    </wsdl:input>
      <wsdl:output name="updateCustomComponentSettingsResponse" message="tns:updateCustomComponentSettingsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelCodeprinting">
      <wsdl:input name="cancelCodeprinting" message="tns:cancelCodeprinting">
    </wsdl:input>
      <wsdl:output name="cancelCodeprintingResponse" message="tns:cancelCodeprintingResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomComponentSettings">
      <wsdl:input name="getCustomComponentSettings" message="tns:getCustomComponentSettings">
    </wsdl:input>
      <wsdl:output name="getCustomComponentSettingsResponse" message="tns:getCustomComponentSettingsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateFileDiscoveryPattern">
      <wsdl:input name="updateFileDiscoveryPattern" message="tns:updateFileDiscoveryPattern">
    </wsdl:input>
      <wsdl:output name="updateFileDiscoveryPatternResponse" message="tns:updateFileDiscoveryPatternResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFileDiscoveryPatterns">
      <wsdl:input name="getFileDiscoveryPatterns" message="tns:getFileDiscoveryPatterns">
    </wsdl:input>
      <wsdl:output name="getFileDiscoveryPatternsResponse" message="tns:getFileDiscoveryPatternsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeFileDiscoveryPattern">
      <wsdl:input name="removeFileDiscoveryPattern" message="tns:removeFileDiscoveryPattern">
    </wsdl:input>
      <wsdl:output name="removeFileDiscoveryPatternResponse" message="tns:removeFileDiscoveryPatternResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomComponentManagementApiServiceSoapBinding" type="tns:CustomComponentManagementApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCodeprintingStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCodeprintingStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCodeprintingStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resetFileDiscoveryPattern">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="resetFileDiscoveryPattern">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetFileDiscoveryPatternResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomComponentSetting">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCustomComponentSetting">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomComponentSettingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addFileDiscoveryPattern">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addFileDiscoveryPattern">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addFileDiscoveryPatternResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startCodeprinting">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startCodeprinting">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startCodeprintingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCustomComponentSettings">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateCustomComponentSettings">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCustomComponentSettingsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelCodeprinting">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelCodeprinting">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelCodeprintingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomComponentSettings">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCustomComponentSettings">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomComponentSettingsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateFileDiscoveryPattern">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateFileDiscoveryPattern">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateFileDiscoveryPatternResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFileDiscoveryPatterns">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFileDiscoveryPatterns">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFileDiscoveryPatternsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeFileDiscoveryPattern">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeFileDiscoveryPattern">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeFileDiscoveryPatternResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomComponentManagementApiService">
    <wsdl:port name="CustomComponentManagementApiPort" binding="tns:CustomComponentManagementApiServiceSoapBinding">
      <soap:address location="http://localhost:9090/CustomComponentManagementApiPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
