protex-sdk-client/src/main/config/wsdl/filecomparisonApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FileComparisonApiService"
	targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:comparison"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:comparison"
	xmlns:ns1="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common"
			xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault"
			targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:license"
			version="1.0">
			<xs:complexType name="licenseInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="licenseId" type="xs:string" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:codetree="urn:protex.blackducksoftware.com:sdk:v7.0:codetree"
			xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common"
			xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:license="urn:protex.blackducksoftware.com:sdk:v7.0:license"
			xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:discovery"
			targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:discovery"
			version="1.0">
			<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:common" />
			<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:license" />
			<xs:complexType name="codeMatchDiscovery">
				<xs:complexContent>
					<xs:extension base="tns:discovery">
						<xs:sequence>
							<xs:element minOccurs="0" name="codeMatchType" type="tns:codeMatchType" />
							<xs:element minOccurs="0" name="discoveredComponentKey"
								type="common:componentKey" />
							<xs:element minOccurs="0" name="hasComponentLicenseConflict"
								type="xs:boolean" />
							<xs:element minOccurs="0" name="hasDeclaredLicenseConflict"
								type="xs:boolean" />
							<xs:element minOccurs="0" name="identificationStatus"
								type="tns:identificationStatus" />
							<xs:element minOccurs="0" name="matchRatioAsPercent"
								type="xs:int" />
							<xs:element minOccurs="0" name="matchingFileLocation"
								type="tns:codeMatchLocation" />
							<xs:element minOccurs="0" name="matchingLicenseInfo"
								type="license:licenseInfo" />
							<xs:element minOccurs="0" name="matchingSourceInfo"
								type="tns:codeMatchSourceInfo" />
							<xs:element minOccurs="0" name="sourceFileLocation"
								type="tns:codeMatchLocation" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="discovery">
				<xs:sequence>
					<xs:element minOccurs="0" name="discoveredDate" type="xs:dateTime" />
					<xs:element minOccurs="0" name="discoveryType" type="tns:discoveryType" />
					<xs:element minOccurs="0" name="filePath" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="codeMatchLocation">
				<xs:sequence>
					<xs:element minOccurs="0" name="filePath" type="xs:string" />
					<xs:element minOccurs="0" name="snippet" type="common:snippet" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="codeMatchSourceInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="firstLine" type="xs:int" />
					<xs:element minOccurs="0" name="lineCount" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="codeMatchType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PRECISION" />
					<xs:enumeration value="GENERIC" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="identificationStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PENDING_IDENTIFICATION" />
					<xs:enumeration value="DECLARED" />
					<xs:enumeration value="PARENT_FOLDER_DECLARED" />
					<xs:enumeration value="DECLARED_NON_PRECISION" />
					<xs:enumeration value="DECLARED_NON_PRECISION_FOLDER" />
					<xs:enumeration value="DEPENDENCY_IDENTIFIED_FILE" />
					<xs:enumeration value="DEPENDENCY_IDENTIFIED_FOLDER" />
					<xs:enumeration value="DEPENDENCY_IDENTIFIED_PARENT_FILE" />
					<xs:enumeration value="DEPENDENCY_IDENTIFIED_PARENT_FOLDER" />
					<xs:enumeration value="STRING_SEARCH_IDENTIFIED_FILE" />
					<xs:enumeration value="STRING_SEARCH_IDENTIFIED_FOLDER" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_FILE" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_FOLDER" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_FILE_GENERIC_VERSION" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_FOLDER_GENERIC_VERSION" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_FILE_SPECIFIC_VERSION" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_FOLDER_SPECIFIC_VERSION" />
					<xs:enumeration value="IDENTIFIED_SIDE_EFFECT" />
					<xs:enumeration value="CODE_MATCH_EXCLUDED_FILE" />
					<xs:enumeration value="CODE_MATCH_EXCLUDED_FOLDER" />
					<xs:enumeration value="CODE_MATCH_EXCLUDED_FILE_GENERIC" />
					<xs:enumeration value="CODE_MATCH_EXCLUDED_FOLDER_GENERIC" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_SNIPPET_NON_PRECISION" />
					<xs:enumeration
						value="CODE_MATCH_IDENTIFIED_SNIPPET_NON_PRECISION_SIDE_EFFECT" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_NON_PRECISION_FILE" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_NON_PRECISION_FOLDER" />
					<xs:enumeration value="CODE_MATCH_IDENTIFIED_NON_PRECISION_FILE_GENERIC" />
					<xs:enumeration
						value="CODE_MATCH_IDENTIFIED_NON_PRECISION_FOLDER_GENERIC" />
					<xs:enumeration
						value="CODE_MATCH_IDENTIFIED_NON_PRECISION_FILE_SPECIFIC_VERSION" />
					<xs:enumeration
						value="CODE_MATCH_IDENTIFIED_NON_PRECISION_FOLDER_SPECIFIC_VERSION" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="discoveryType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SNIPPET" />
					<xs:enumeration value="FILE" />
					<xs:enumeration value="FILE_NAME_IDENTITY" />
					<xs:enumeration value="STRING_SEARCH" />
					<xs:enumeration value="STRING_SEARCH_REGULAR_EXPRESSION" />
					<xs:enumeration value="DEPENDENCY_JAVA_PACKAGE" />
					<xs:enumeration value="DEPENDENCY_JAVA_IMPORT" />
					<xs:enumeration value="DEPENDENCY_NON_JAVA_SOURCE" />
					<xs:enumeration value="DEPENDENCY_NON_JAVA_BINARY" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common"
			xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:ns1="urn:protex.blackducksoftware.com:sdk:v7.0:discovery"
			xmlns:ns2="urn:protex.blackducksoftware.com:sdk:v7.0:license"
			xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:comparison"
			elementFormDefault="unqualified"
			targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:comparison"
			version="1.0">
			<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:common" />
			<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:discovery" />
			<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:license" />
			<xs:element name="compareFiles" type="tns:compareFiles" />
			<xs:element name="compareFilesResponse" type="tns:compareFilesResponse" />
			<xs:element name="getFileComparisonRepository" type="tns:getFileComparisonRepository" />
			<xs:element name="getFileComparisonRepositoryResponse"
				type="tns:getFileComparisonRepositoryResponse" />
			<xs:element name="getFileDifferences" type="tns:getFileDifferences" />
			<xs:element name="getFileDifferencesResponse" type="tns:getFileDifferencesResponse" />
			<xs:element name="getFileSimilarities" type="tns:getFileSimilarities" />
			<xs:element name="getFileSimilaritiesResponse" type="tns:getFileSimilaritiesResponse" />
			<xs:element name="getFileUrl" type="tns:getFileUrl" />
			<xs:element name="getFileUrlResponse" type="tns:getFileUrlResponse" />
			<xs:element name="setFileComparisonRepository" type="tns:setFileComparisonRepository" />
			<xs:element name="setFileComparisonRepositoryResponse"
				type="tns:setFileComparisonRepositoryResponse" />
			<xs:complexType name="getFileComparisonRepository">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFileComparisonRepositoryResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="common:fileComparisonRepository" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFileSimilarities">
				<xs:sequence>
					<xs:element minOccurs="0" name="leftFile" type="tns:protexFile" />
					<xs:element minOccurs="0" name="rightFile" type="tns:protexFile" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="protexFile">
				<xs:sequence>
					<xs:element minOccurs="0" name="componentOrProjectId"
						type="xs:string" />
					<xs:element minOccurs="0" name="filePath" type="xs:string" />
					<xs:element minOccurs="0" name="fileType"
						type="tns:protexFileSourceType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFileSimilaritiesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:relatedSnippets" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="relatedSnippets">
				<xs:sequence>
					<xs:element minOccurs="0" name="leftSnippet" type="common:snippet" />
					<xs:element minOccurs="0" name="rightSnippet" type="common:snippet" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFileUrl">
				<xs:sequence>
					<xs:element minOccurs="0" name="file" type="tns:protexFile" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFileUrlResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFileDifferences">
				<xs:sequence>
					<xs:element minOccurs="0" name="leftFile" type="tns:protexFile" />
					<xs:element minOccurs="0" name="rightFile" type="tns:protexFile" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFileDifferencesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:relatedSnippets" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="setFileComparisonRepository">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
					<xs:element minOccurs="0" name="arg1"
						type="common:fileComparisonRepository" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="setFileComparisonRepositoryResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="compareFiles">
				<xs:sequence>
					<xs:element minOccurs="0" name="projectId" type="xs:string" />
					<xs:element minOccurs="0" name="codeMatch" type="ns1:codeMatchDiscovery" />
					<xs:element minOccurs="0" name="comparisonType" type="tns:comparisonType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="compareFilesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:relatedSnippets" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="protexFileSourceType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PROJECT" />
					<xs:enumeration value="STANDARD_COMPONENT" />
					<xs:enumeration value="CUSTOM_COMPONENT" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="comparisonType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SIMILARITIES" />
					<xs:enumeration value="DIFFERENCES" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:common"
			targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:common"
			version="1.0">
			<xs:complexType name="fileComparisonRepository">
				<xs:sequence>
					<xs:element minOccurs="0" name="locationURL" type="xs:string" />
					<xs:element minOccurs="0" name="type"
						type="tns:fileComparisonRepositoryType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="snippet">
				<xs:sequence>
					<xs:element minOccurs="0" name="firstLine" type="xs:int" />
					<xs:element minOccurs="0" name="lastLine" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="componentKey">
				<xs:sequence>
					<xs:element minOccurs="0" name="componentId" type="xs:string" />
					<xs:element minOccurs="0" name="versionId" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="fileComparisonRepositoryType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="AUTOMATIC" />
					<xs:enumeration value="REMOTE_SERVER" />
					<xs:enumeration value="LOCAL_SERVER" />
					<xs:enumeration value="OTHER" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:blackducksoftware.com:sdk:v7.0:fault"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="urn:blackducksoftware.com:sdk:v7.0:fault">
			<xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails" />
			<xs:complexType name="sdkFaultDetails">
				<xs:sequence>
					<xs:element minOccurs="0" name="errorCode" type="tns:errorCode" />
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="errorCode">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVER_REGISTRATION_ERROR" />
					<xs:enumeration value="SERVER_PERFORMING_UPDATE" />
					<xs:enumeration value="NO_ANALYSIS_RUNNING" />
					<xs:enumeration value="ANALYSIS_ALREADY_RUNNING" />
					<xs:enumeration value="INVALID_SOURCE_LOCATION_FOR_SCAN" />
					<xs:enumeration value="PROJECT_COULD_NOT_BE_LOCKED" />
					<xs:enumeration value="LICENSE_NAME_TOO_LONG" />
					<xs:enumeration value="LICENSE_TYPE_STANDARD_CANT_CHANGE_NAME" />
					<xs:enumeration value="TAG_NOT_FOUND" />
					<xs:enumeration value="OBLIGATION_IS_REFERENCED" />
					<xs:enumeration value="OBLIGATION_NOT_ASSIGNED" />
					<xs:enumeration value="DUPLICATE_LICENSE_NAME" />
					<xs:enumeration value="LICENSE_NOT_FOUND" />
					<xs:enumeration value="LICENSE_IN_USE" />
					<xs:enumeration value="CAN_NOT_RESET_CUSTOM_LICENSE" />
					<xs:enumeration value="DUPLICATE_OBLIGATION_CATEGORY" />
					<xs:enumeration value="OBLIGATION_CATEGORY_NOT_FOUND" />
					<xs:enumeration value="OBLIGATION_CATEGORY_IN_USE" />
					<xs:enumeration value="OBLIGATION_CATEGORY_CAN_NOT_BE_DELETED" />
					<xs:enumeration value="DUPLICATE_OBLIGATION_NAME" />
					<xs:enumeration value="DUPLICATE_OBLIGATION_ASSIGNMENT" />
					<xs:enumeration value="INVALID_OBLIGATION_NAME" />
					<xs:enumeration value="OBLIGATION_NOT_FOUND" />
					<xs:enumeration value="OBLIGATION_IN_USE_BY_PROJECTS" />
					<xs:enumeration value="OBLIGATION_IN_USE_BY_LICENSES" />
					<xs:enumeration value="RAPID_ID_CONFIGURATION_NOT_FOUND" />
					<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_NAME" />
					<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_ASSOCIATION" />
					<xs:enumeration value="RAPID_ID_OPERATION_TYPE_DUPLICATE" />
					<xs:enumeration value="LEARNED_IDENTIFICATION_NOT_FOUND" />
					<xs:enumeration value="USER_NOT_ASSIGNED_TO_PROJECT" />
					<xs:enumeration value="UNKNOWN_ANALYSIS_DATABASE_OPTION" />
					<xs:enumeration
						value="STRING_SEARCH_PATTERN_UPDATE_OF_STANDARD_PATTERN_NOT_ALLOWED" />
					<xs:enumeration value="CUSTOM_COMPONENT_IN_USE" />
					<xs:enumeration value="CUSTOM_COMPONENT_HAS_NO_SOURCE" />
					<xs:enumeration value="DUPLICATE_TEMPLATE_TITLE" />
					<xs:enumeration value="REPORT_TEMPLATE_NOT_FOUND" />
					<xs:enumeration value="DEFAULT_REPORT_TEMPLATE_NOT_SET" />
					<xs:enumeration value="DUPLICATE_PROJECT_NAME" />
					<xs:enumeration value="PROJECT_ANALYSIS_LOCAL_SOURCE_NOT_SUPPORTED" />
					<xs:enumeration value="OPTIONS_SETTING_NOT_ALLOWED" />
					<xs:enumeration
						value="OPTIONS_CANNOT_BE_FORCED_FOR_LOCAL_SEARCH_SETTINGS" />
					<xs:enumeration value="DUPLICATE_STRING_SEARCH_PATTERN_NAME" />
					<xs:enumeration value="DUPLICATE_FILE_DISCOVERY_PATTERN_NAME" />
					<xs:enumeration value="LINKING_PROJECTS_FORCES_CLONING_OF_WORK_RESULTS" />
					<xs:enumeration value="PROJECT_NOT_YET_ANALYZED" />
					<xs:enumeration value="DUPLICATE_USER_ASSIGNMENT" />
					<xs:enumeration value="PROJECT_NAME_TOO_LONG" />
					<xs:enumeration value="INVALID_PROJECT_NAME" />
					<xs:enumeration value="PROJECT_NOT_FOUND" />
					<xs:enumeration value="PROJECT_SYNCID_INVALID" />
					<xs:enumeration value="LINKING_GLOBALLY_DISABLED" />
					<xs:enumeration value="PROJECT_IN_USE" />
					<xs:enumeration value="STRING_SEARCH_PATTERN_NAME_TOO_LONG" />
					<xs:enumeration value="ROLE_NOT_FOUND" />
					<xs:enumeration value="MINIMUM_ONE_ADMIN_USER" />
					<xs:enumeration value="REMOVE_SELF_AS_ADMIN_USER" />
					<xs:enumeration value="DUPLICATE_EMAIL_ADDRESS" />
					<xs:enumeration value="EMAIL_TOO_LONG" />
					<xs:enumeration value="FIRST_NAME_TOO_LONG" />
					<xs:enumeration value="LAST_NAME_TOO_LONG" />
					<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_TOO_LONG" />
					<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_DUPLICATE" />
					<xs:enumeration value="INVALID_EMAIL_ADDRESS" />
					<xs:enumeration value="USER_NOT_FOUND" />
					<xs:enumeration value="PASSWORD_TOO_SHORT" />
					<xs:enumeration value="PASSWORD_TOO_LONG" />
					<xs:enumeration value="STRING_SEARCH_DISCOVERY_NOT_FOUND" />
					<xs:enumeration value="STRING_SEARCH_REQUIRES_UPLOADED_SOURCE" />
					<xs:enumeration value="USAGE_LEVEL_INVALID_FOR_GIVEN_ID" />
					<xs:enumeration value="CANNOT_COPY_ID_PROJECT_SYNCHRONIZED" />
					<xs:enumeration value="CODE_TREE_PATH_NOT_FOUND" />
					<xs:enumeration value="CODE_TREE_GUARANTEED_EMPTY_RESULT" />
					<xs:enumeration value="NO_FILE_CONTENT" />
					<xs:enumeration value="CODE_TREE_PARENT_PATH_NOT_FOUND" />
					<xs:enumeration value="DUPLICATE_COMPONENT_NAME" />
					<xs:enumeration value="COMPONENT_NAME_TOO_LONG" />
					<xs:enumeration value="INVALID_COMPONENT_NAME" />
					<xs:enumeration value="COMPONENT_NOT_FOUND" />
					<xs:enumeration value="COMPONENT_VERSION_NOT_FOUND" />
					<xs:enumeration value="OPTION_IS_FORCED" />
					<xs:enumeration value="FILE_DISCOVERY_PATTERN_NOT_FOUND" />
					<xs:enumeration value="STRING_SEARCH_PATTERN_NOT_FOUND" />
					<xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR" />
					<xs:enumeration value="UNKNOWN_REPORT_SECTION_ERROR" />
					<xs:enumeration value="PROTEX_FILE_SOURCE_NOT_AVAILABLE" />
					<xs:enumeration value="NOT_A_FILE_PATH" />
					<xs:enumeration value="ARGUMENT_VALUE_INVALID" />
					<xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED" />
					<xs:enumeration value="ARGUMENT_NOT_YET_IMPLEMENTED" />
					<xs:enumeration value="ARGUMENT_VALUE_NOT_YET_IMPLEMENTED" />
					<xs:enumeration value="INVALID_CREDENTIALS" />
					<xs:enumeration value="INSUFFICIENT_PERMISSION" />
					<xs:enumeration value="UNKNOWN_ERROR" />
					<xs:enumeration value="BOM_REFRESH_NOT_FINISHED" />
					<xs:enumeration value="BOM_COMPONENT_PROJECT_CANT_UPDATE" />
					<xs:enumeration
						value="UPDATE_BOM_COMPONENT_VERSION_NAME_OF_COMPONENT_VERSION_PROHIBITED" />
					<xs:enumeration value="TODO_CONVERT_EXCEPTION" />
					<xs:enumeration value="UNEXPECTED_RETURN_VALUE_ERROR" />
					<xs:enumeration value="OUT_OF_MEMORY_ERROR" />
					<xs:enumeration value="NO_SESSION_ID" />
					<xs:enumeration value="INVALID_SORT_KEY" />
					<xs:enumeration value="CAN_NOT_OPEN_TEMP_FILE" />
					<xs:enumeration
						value="CODEMATCH_SELF_IDENTIFICATION_MUST_MATCH_DECLARED_LICENSE" />
					<xs:enumeration value="IDENTIFICATION_NOT_FOUND" />
					<xs:enumeration value="IDENTIFICATION_LEARNING_CONFLICT" />
					<xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG" />
					<xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY" />
					<xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND" />
					<xs:enumeration value="EXTERNAL_ID_MAPPING_NOT_FOUND" />
					<xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING" />
					<xs:enumeration value="TEMPLATE_NOT_FOUND" />
					<xs:enumeration value="DUPLICATE_VERSION_NAME" />
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getFileSimilaritiesResponse">
		<wsdl:part name="parameters" element="tns:getFileSimilaritiesResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFileDifferences">
		<wsdl:part name="parameters" element="tns:getFileDifferences">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setFileComparisonRepository">
		<wsdl:part name="parameters" element="tns:setFileComparisonRepository">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFileDifferencesResponse">
		<wsdl:part name="parameters" element="tns:getFileDifferencesResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="compareFiles">
		<wsdl:part name="parameters" element="tns:compareFiles">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setFileComparisonRepositoryResponse">
		<wsdl:part name="parameters" element="tns:setFileComparisonRepositoryResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFileComparisonRepositoryResponse">
		<wsdl:part name="parameters" element="tns:getFileComparisonRepositoryResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SdkFault">
		<wsdl:part name="SdkFault" element="ns1:SdkFault">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="compareFilesResponse">
		<wsdl:part name="parameters" element="tns:compareFilesResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFileComparisonRepository">
		<wsdl:part name="parameters" element="tns:getFileComparisonRepository">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFileSimilarities">
		<wsdl:part name="parameters" element="tns:getFileSimilarities">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFileUrl">
		<wsdl:part name="parameters" element="tns:getFileUrl">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFileUrlResponse">
		<wsdl:part name="parameters" element="tns:getFileUrlResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FileComparisonApi">
		<wsdl:operation name="getFileComparisonRepository">
			<wsdl:input name="getFileComparisonRepository" message="tns:getFileComparisonRepository">
			</wsdl:input>
			<wsdl:output name="getFileComparisonRepositoryResponse"
				message="tns:getFileComparisonRepositoryResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getFileSimilarities">
			<wsdl:input name="getFileSimilarities" message="tns:getFileSimilarities">
			</wsdl:input>
			<wsdl:output name="getFileSimilaritiesResponse" message="tns:getFileSimilaritiesResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getFileUrl">
			<wsdl:input name="getFileUrl" message="tns:getFileUrl">
			</wsdl:input>
			<wsdl:output name="getFileUrlResponse" message="tns:getFileUrlResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getFileDifferences">
			<wsdl:input name="getFileDifferences" message="tns:getFileDifferences">
			</wsdl:input>
			<wsdl:output name="getFileDifferencesResponse" message="tns:getFileDifferencesResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setFileComparisonRepository">
			<wsdl:input name="setFileComparisonRepository" message="tns:setFileComparisonRepository">
			</wsdl:input>
			<wsdl:output name="setFileComparisonRepositoryResponse"
				message="tns:setFileComparisonRepositoryResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="compareFiles">
			<wsdl:input name="compareFiles" message="tns:compareFiles">
			</wsdl:input>
			<wsdl:output name="compareFilesResponse" message="tns:compareFilesResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FileComparisonApiServiceSoapBinding"
		type="tns:FileComparisonApi">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getFileComparisonRepository">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getFileComparisonRepository">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getFileComparisonRepositoryResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getFileSimilarities">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getFileSimilarities">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getFileSimilaritiesResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getFileUrl">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getFileUrl">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getFileUrlResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getFileDifferences">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getFileDifferences">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getFileDifferencesResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setFileComparisonRepository">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="setFileComparisonRepository">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="setFileComparisonRepositoryResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="compareFiles">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="compareFiles">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="compareFilesResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FileComparisonApiService">
		<wsdl:port name="FileComparisonApiPort" binding="tns:FileComparisonApiServiceSoapBinding">
			<soap:address location="http://localhost:9090/FileComparisonApiPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
