protex-sdk-client/src/main/config/wsdl/obligationApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ObligationApiService"
	targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:obligation"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:obligation"
	xmlns:ns1="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common"
			xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:obligation"
			elementFormDefault="unqualified"
			targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:obligation"
			version="1.0">
			<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:common" />
			<xs:element name="createObligation" type="tns:createObligation" />
			<xs:element name="createObligationCategory" type="tns:createObligationCategory" />
			<xs:element name="createObligationCategoryResponse" type="tns:createObligationCategoryResponse" />
			<xs:element name="createObligationResponse" type="tns:createObligationResponse" />
			<xs:element name="deleteObligation" type="tns:deleteObligation" />
			<xs:element name="deleteObligationCategory" type="tns:deleteObligationCategory" />
			<xs:element name="deleteObligationCategoryResponse" type="tns:deleteObligationCategoryResponse" />
			<xs:element name="deleteObligationResponse" type="tns:deleteObligationResponse" />
			<xs:element name="getAssignedObligationsForElement" type="tns:getAssignedObligationsForElement" />
			<xs:element name="getAssignedObligationsForElementResponse"
				type="tns:getAssignedObligationsForElementResponse" />
			<xs:element name="getAssignedObligationsForElements" type="tns:getAssignedObligationsForElements" />
			<xs:element name="getAssignedObligationsForElementsResponse"
				type="tns:getAssignedObligationsForElementsResponse" />
			<xs:element name="getObligationById" type="tns:getObligationById" />
			<xs:element name="getObligationByIdResponse" type="tns:getObligationByIdResponse" />
			<xs:element name="getObligationByName" type="tns:getObligationByName" />
			<xs:element name="getObligationByNameResponse" type="tns:getObligationByNameResponse" />
			<xs:element name="getObligationCategoryById" type="tns:getObligationCategoryById" />
			<xs:element name="getObligationCategoryByIdResponse" type="tns:getObligationCategoryByIdResponse" />
			<xs:element name="getObligationCategoryByName" type="tns:getObligationCategoryByName" />
			<xs:element name="getObligationCategoryByNameResponse"
				type="tns:getObligationCategoryByNameResponse" />
			<xs:element name="suggestObligationCategories" type="tns:suggestObligationCategories" />
			<xs:element name="suggestObligationCategoriesResponse"
				type="tns:suggestObligationCategoriesResponse" />
			<xs:element name="suggestObligations" type="tns:suggestObligations" />
			<xs:element name="suggestObligationsResponse" type="tns:suggestObligationsResponse" />
			<xs:element name="updateObligation" type="tns:updateObligation" />
			<xs:element name="updateObligationCategory" type="tns:updateObligationCategory" />
			<xs:element name="updateObligationCategoryResponse" type="tns:updateObligationCategoryResponse" />
			<xs:element name="updateObligationResponse" type="tns:updateObligationResponse" />
			<xs:complexType name="deleteObligationCategory">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationCategoryId"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="deleteObligationCategoryResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getAssignedObligationsForElements">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="elements"
						type="tns:protexElementWithObligations" />
					<xs:element minOccurs="0" name="pageFilter"
						type="tns:assignedObligationPageFilter" />
					<xs:element minOccurs="0" name="getBehavior" type="common:getBehavior" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="protexElementWithObligations">
				<xs:sequence>
					<xs:element minOccurs="0" name="elementId" type="xs:string" />
					<xs:element minOccurs="0" name="elementType"
						type="tns:protexElementWithObligationsType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="protexVersionedElementWithObligations">
				<xs:complexContent>
					<xs:extension base="tns:protexElementWithObligations">
						<xs:sequence>
							<xs:element minOccurs="0" name="versionId" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="assignedObligationPageFilter">
				<xs:complexContent>
					<xs:extension base="common:pageFilter">
						<xs:sequence>
							<xs:element minOccurs="0" name="sortedColumn"
								type="tns:assignedObligationColumn" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="getAssignedObligationsForElementsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:obligationsAssigned" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obligationsAssigned">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="assignedObligations" nillable="true" type="tns:assignedObligation" />
					<xs:element minOccurs="0" name="element"
						type="tns:protexElementWithObligations" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="assignedObligation">
				<xs:complexContent>
					<xs:extension base="tns:assignedObligationRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="fulfillmentInherited"
								type="xs:boolean" />
							<xs:element minOccurs="0" name="obligationId" type="xs:string" />
							<xs:element minOccurs="0" name="originObjectId" type="xs:string" />
							<xs:element minOccurs="0" name="originType"
								type="tns:obligationOriginType" />
							<xs:element minOccurs="0" name="reviewAndReportInherited"
								type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="assignedObligationRequest">
				<xs:complexContent>
					<xs:extension base="tns:obligationRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="fulfilled" type="xs:boolean" />
							<xs:element minOccurs="0" name="reviewAndReport" type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="obligationRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="description" type="xs:string" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="obligationCategoryId"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getObligationById">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationId" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getObligationByIdResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:obligation" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obligation">
				<xs:complexContent>
					<xs:extension base="tns:obligationRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="obligationId" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="getObligationCategoryByName">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationCategoryName"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getObligationCategoryByNameResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:obligationCategory" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obligationCategory">
				<xs:complexContent>
					<xs:extension base="tns:obligationCategoryRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="obligationCategoryId"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="obligationCategoryRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="suggestObligations">
				<xs:sequence>
					<xs:element minOccurs="0" name="anyWordStartsWith" type="xs:string" />
					<xs:element minOccurs="0" name="arg1"
						type="tns:obligationPageFilter" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obligationPageFilter">
				<xs:complexContent>
					<xs:extension base="common:pageFilter">
						<xs:sequence>
							<xs:element minOccurs="0" name="sortedColumn" type="tns:obligationColumn" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="suggestObligationsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:obligation" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="suggestObligationCategories">
				<xs:sequence>
					<xs:element minOccurs="0" name="anyWordStartsWith" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="suggestObligationCategoriesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:obligationCategory" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="deleteObligation">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationId" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="deleteObligationResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getObligationByName">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getObligationByNameResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:obligation" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createObligation">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationRequest" type="tns:obligationRequest" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createObligationResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getObligationCategoryById">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationCategoryId"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getObligationCategoryByIdResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:obligationCategory" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createObligationCategory">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationCategoryRequest"
						type="tns:obligationCategoryRequest" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createObligationCategoryResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAssignedObligationsForElement">
				<xs:sequence>
					<xs:element minOccurs="0" name="element"
						type="tns:protexElementWithObligations" />
					<xs:element minOccurs="0" name="pageFilter"
						type="tns:assignedObligationPageFilter" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAssignedObligationsForElementResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:obligationsAssigned" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="updateObligation">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationId" type="xs:string" />
					<xs:element minOccurs="0" name="obligation" type="tns:obligationRequest" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="updateObligationResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="updateObligationCategory">
				<xs:sequence>
					<xs:element minOccurs="0" name="obligationCategoryId"
						type="xs:string" />
					<xs:element minOccurs="0" name="obligationCategoryUpdateRequest"
						type="tns:obligationCategoryRequest" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="updateObligationCategoryResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:simpleType name="protexElementWithObligationsType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PROJECT" />
					<xs:enumeration value="COMPONENT" />
					<xs:enumeration value="LICENSE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="assignedObligationColumn">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OBLIGATION_ID" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="obligationOriginType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PROJECT" />
					<xs:enumeration value="LICENSE" />
					<xs:enumeration value="GLOBAL" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="obligationColumn">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OBLIGATION_ID" />
					<xs:enumeration value="OBLIGATION_LABEL" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:common"
			targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:common"
			version="1.0">
			<xs:complexType abstract="true" name="pageFilter">
				<xs:sequence>
					<xs:element minOccurs="0" name="firstRowIndex" type="xs:int" />
					<xs:element minOccurs="0" name="lastRowIndex" type="xs:int" />
					<xs:element minOccurs="0" name="sortAscending" type="xs:boolean" />
					<xs:element minOccurs="0" name="sortType" type="tns:sortType" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="sortType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ALPHABETICAL_CASE_INSENSITIVE" />
					<xs:enumeration value="NUMERIC" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="getBehavior">
				<xs:restriction base="xs:string">
					<xs:enumeration value="CONTINUE_IF_NOT_FOUND" />
					<xs:enumeration value="ERROR_IF_NOT_FOUND" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:blackducksoftware.com:sdk:v7.0:fault"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="urn:blackducksoftware.com:sdk:v7.0:fault">
			<xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails" />
			<xs:complexType name="sdkFaultDetails">
				<xs:sequence>
					<xs:element minOccurs="0" name="errorCode" type="tns:errorCode" />
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="errorCode">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVER_REGISTRATION_ERROR" />
					<xs:enumeration value="SERVER_PERFORMING_UPDATE" />
					<xs:enumeration value="NO_ANALYSIS_RUNNING" />
					<xs:enumeration value="ANALYSIS_ALREADY_RUNNING" />
					<xs:enumeration value="INVALID_SOURCE_LOCATION_FOR_SCAN" />
					<xs:enumeration value="PROJECT_COULD_NOT_BE_LOCKED" />
					<xs:enumeration value="LICENSE_NAME_TOO_LONG" />
					<xs:enumeration value="LICENSE_TYPE_STANDARD_CANT_CHANGE_NAME" />
					<xs:enumeration value="TAG_NOT_FOUND" />
					<xs:enumeration value="OBLIGATION_IS_REFERENCED" />
					<xs:enumeration value="OBLIGATION_NOT_ASSIGNED" />
					<xs:enumeration value="DUPLICATE_LICENSE_NAME" />
					<xs:enumeration value="LICENSE_NOT_FOUND" />
					<xs:enumeration value="LICENSE_IN_USE" />
					<xs:enumeration value="CAN_NOT_RESET_CUSTOM_LICENSE" />
					<xs:enumeration value="DUPLICATE_OBLIGATION_CATEGORY" />
					<xs:enumeration value="OBLIGATION_CATEGORY_NOT_FOUND" />
					<xs:enumeration value="OBLIGATION_CATEGORY_IN_USE" />
					<xs:enumeration value="OBLIGATION_CATEGORY_CAN_NOT_BE_DELETED" />
					<xs:enumeration value="DUPLICATE_OBLIGATION_NAME" />
					<xs:enumeration value="DUPLICATE_OBLIGATION_ASSIGNMENT" />
					<xs:enumeration value="INVALID_OBLIGATION_NAME" />
					<xs:enumeration value="OBLIGATION_NOT_FOUND" />
					<xs:enumeration value="OBLIGATION_IN_USE_BY_PROJECTS" />
					<xs:enumeration value="OBLIGATION_IN_USE_BY_LICENSES" />
					<xs:enumeration value="RAPID_ID_CONFIGURATION_NOT_FOUND" />
					<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_NAME" />
					<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_ASSOCIATION" />
					<xs:enumeration value="RAPID_ID_OPERATION_TYPE_DUPLICATE" />
					<xs:enumeration value="LEARNED_IDENTIFICATION_NOT_FOUND" />
					<xs:enumeration value="USER_NOT_ASSIGNED_TO_PROJECT" />
					<xs:enumeration value="UNKNOWN_ANALYSIS_DATABASE_OPTION" />
					<xs:enumeration
						value="STRING_SEARCH_PATTERN_UPDATE_OF_STANDARD_PATTERN_NOT_ALLOWED" />
					<xs:enumeration value="CUSTOM_COMPONENT_IN_USE" />
					<xs:enumeration value="CUSTOM_COMPONENT_HAS_NO_SOURCE" />
					<xs:enumeration value="DUPLICATE_TEMPLATE_TITLE" />
					<xs:enumeration value="REPORT_TEMPLATE_NOT_FOUND" />
					<xs:enumeration value="DEFAULT_REPORT_TEMPLATE_NOT_SET" />
					<xs:enumeration value="DUPLICATE_PROJECT_NAME" />
					<xs:enumeration value="PROJECT_ANALYSIS_LOCAL_SOURCE_NOT_SUPPORTED" />
					<xs:enumeration value="OPTIONS_SETTING_NOT_ALLOWED" />
					<xs:enumeration
						value="OPTIONS_CANNOT_BE_FORCED_FOR_LOCAL_SEARCH_SETTINGS" />
					<xs:enumeration value="DUPLICATE_STRING_SEARCH_PATTERN_NAME" />
					<xs:enumeration value="DUPLICATE_FILE_DISCOVERY_PATTERN_NAME" />
					<xs:enumeration value="LINKING_PROJECTS_FORCES_CLONING_OF_WORK_RESULTS" />
					<xs:enumeration value="PROJECT_NOT_YET_ANALYZED" />
					<xs:enumeration value="DUPLICATE_USER_ASSIGNMENT" />
					<xs:enumeration value="PROJECT_NAME_TOO_LONG" />
					<xs:enumeration value="INVALID_PROJECT_NAME" />
					<xs:enumeration value="PROJECT_NOT_FOUND" />
					<xs:enumeration value="PROJECT_SYNCID_INVALID" />
					<xs:enumeration value="LINKING_GLOBALLY_DISABLED" />
					<xs:enumeration value="PROJECT_IN_USE" />
					<xs:enumeration value="STRING_SEARCH_PATTERN_NAME_TOO_LONG" />
					<xs:enumeration value="ROLE_NOT_FOUND" />
					<xs:enumeration value="MINIMUM_ONE_ADMIN_USER" />
					<xs:enumeration value="REMOVE_SELF_AS_ADMIN_USER" />
					<xs:enumeration value="DUPLICATE_EMAIL_ADDRESS" />
					<xs:enumeration value="EMAIL_TOO_LONG" />
					<xs:enumeration value="FIRST_NAME_TOO_LONG" />
					<xs:enumeration value="LAST_NAME_TOO_LONG" />
					<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_TOO_LONG" />
					<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_DUPLICATE" />
					<xs:enumeration value="INVALID_EMAIL_ADDRESS" />
					<xs:enumeration value="USER_NOT_FOUND" />
					<xs:enumeration value="PASSWORD_TOO_SHORT" />
					<xs:enumeration value="PASSWORD_TOO_LONG" />
					<xs:enumeration value="STRING_SEARCH_DISCOVERY_NOT_FOUND" />
					<xs:enumeration value="STRING_SEARCH_REQUIRES_UPLOADED_SOURCE" />
					<xs:enumeration value="USAGE_LEVEL_INVALID_FOR_GIVEN_ID" />
					<xs:enumeration value="CANNOT_COPY_ID_PROJECT_SYNCHRONIZED" />
					<xs:enumeration value="CODE_TREE_PATH_NOT_FOUND" />
					<xs:enumeration value="CODE_TREE_GUARANTEED_EMPTY_RESULT" />
					<xs:enumeration value="NO_FILE_CONTENT" />
					<xs:enumeration value="CODE_TREE_PARENT_PATH_NOT_FOUND" />
					<xs:enumeration value="DUPLICATE_COMPONENT_NAME" />
					<xs:enumeration value="COMPONENT_NAME_TOO_LONG" />
					<xs:enumeration value="INVALID_COMPONENT_NAME" />
					<xs:enumeration value="COMPONENT_NOT_FOUND" />
					<xs:enumeration value="COMPONENT_VERSION_NOT_FOUND" />
					<xs:enumeration value="OPTION_IS_FORCED" />
					<xs:enumeration value="FILE_DISCOVERY_PATTERN_NOT_FOUND" />
					<xs:enumeration value="STRING_SEARCH_PATTERN_NOT_FOUND" />
					<xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR" />
					<xs:enumeration value="UNKNOWN_REPORT_SECTION_ERROR" />
					<xs:enumeration value="PROTEX_FILE_SOURCE_NOT_AVAILABLE" />
					<xs:enumeration value="NOT_A_FILE_PATH" />
					<xs:enumeration value="ARGUMENT_VALUE_INVALID" />
					<xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED" />
					<xs:enumeration value="ARGUMENT_NOT_YET_IMPLEMENTED" />
					<xs:enumeration value="ARGUMENT_VALUE_NOT_YET_IMPLEMENTED" />
					<xs:enumeration value="INVALID_CREDENTIALS" />
					<xs:enumeration value="INSUFFICIENT_PERMISSION" />
					<xs:enumeration value="UNKNOWN_ERROR" />
					<xs:enumeration value="BOM_REFRESH_NOT_FINISHED" />
					<xs:enumeration value="BOM_COMPONENT_PROJECT_CANT_UPDATE" />
					<xs:enumeration
						value="UPDATE_BOM_COMPONENT_VERSION_NAME_OF_COMPONENT_VERSION_PROHIBITED" />
					<xs:enumeration value="TODO_CONVERT_EXCEPTION" />
					<xs:enumeration value="UNEXPECTED_RETURN_VALUE_ERROR" />
					<xs:enumeration value="OUT_OF_MEMORY_ERROR" />
					<xs:enumeration value="NO_SESSION_ID" />
					<xs:enumeration value="INVALID_SORT_KEY" />
					<xs:enumeration value="CAN_NOT_OPEN_TEMP_FILE" />
					<xs:enumeration
						value="CODEMATCH_SELF_IDENTIFICATION_MUST_MATCH_DECLARED_LICENSE" />
					<xs:enumeration value="IDENTIFICATION_NOT_FOUND" />
					<xs:enumeration value="IDENTIFICATION_LEARNING_CONFLICT" />
					<xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG" />
					<xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY" />
					<xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND" />
					<xs:enumeration value="EXTERNAL_ID_MAPPING_NOT_FOUND" />
					<xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING" />
					<xs:enumeration value="TEMPLATE_NOT_FOUND" />
					<xs:enumeration value="DUPLICATE_VERSION_NAME" />
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="deleteObligationResponse">
		<wsdl:part name="parameters" element="tns:deleteObligationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteObligationCategory">
		<wsdl:part name="parameters" element="tns:deleteObligationCategory">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAssignedObligationsForElementResponse">
		<wsdl:part name="parameters"
			element="tns:getAssignedObligationsForElementResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateObligationCategoryResponse">
		<wsdl:part name="parameters" element="tns:updateObligationCategoryResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAssignedObligationsForElements">
		<wsdl:part name="parameters" element="tns:getAssignedObligationsForElements">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createObligationResponse">
		<wsdl:part name="parameters" element="tns:createObligationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateObligationResponse">
		<wsdl:part name="parameters" element="tns:updateObligationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getObligationCategoryByName">
		<wsdl:part name="parameters" element="tns:getObligationCategoryByName">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="suggestObligations">
		<wsdl:part name="parameters" element="tns:suggestObligations">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteObligation">
		<wsdl:part name="parameters" element="tns:deleteObligation">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getObligationCategoryByIdResponse">
		<wsdl:part name="parameters" element="tns:getObligationCategoryByIdResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createObligationCategoryResponse">
		<wsdl:part name="parameters" element="tns:createObligationCategoryResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="suggestObligationCategoriesResponse">
		<wsdl:part name="parameters" element="tns:suggestObligationCategoriesResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createObligationCategory">
		<wsdl:part name="parameters" element="tns:createObligationCategory">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAssignedObligationsForElement">
		<wsdl:part name="parameters" element="tns:getAssignedObligationsForElement">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getObligationCategoryByNameResponse">
		<wsdl:part name="parameters" element="tns:getObligationCategoryByNameResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateObligation">
		<wsdl:part name="parameters" element="tns:updateObligation">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SdkFault">
		<wsdl:part name="SdkFault" element="ns1:SdkFault">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="suggestObligationsResponse">
		<wsdl:part name="parameters" element="tns:suggestObligationsResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getObligationByNameResponse">
		<wsdl:part name="parameters" element="tns:getObligationByNameResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAssignedObligationsForElementsResponse">
		<wsdl:part name="parameters"
			element="tns:getAssignedObligationsForElementsResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getObligationById">
		<wsdl:part name="parameters" element="tns:getObligationById">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="suggestObligationCategories">
		<wsdl:part name="parameters" element="tns:suggestObligationCategories">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getObligationByName">
		<wsdl:part name="parameters" element="tns:getObligationByName">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createObligation">
		<wsdl:part name="parameters" element="tns:createObligation">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getObligationCategoryById">
		<wsdl:part name="parameters" element="tns:getObligationCategoryById">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteObligationCategoryResponse">
		<wsdl:part name="parameters" element="tns:deleteObligationCategoryResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateObligationCategory">
		<wsdl:part name="parameters" element="tns:updateObligationCategory">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getObligationByIdResponse">
		<wsdl:part name="parameters" element="tns:getObligationByIdResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ObligationApi">
		<wsdl:operation name="deleteObligationCategory">
			<wsdl:input name="deleteObligationCategory" message="tns:deleteObligationCategory">
			</wsdl:input>
			<wsdl:output name="deleteObligationCategoryResponse"
				message="tns:deleteObligationCategoryResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAssignedObligationsForElements">
			<wsdl:input name="getAssignedObligationsForElements"
				message="tns:getAssignedObligationsForElements">
			</wsdl:input>
			<wsdl:output name="getAssignedObligationsForElementsResponse"
				message="tns:getAssignedObligationsForElementsResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObligationById">
			<wsdl:input name="getObligationById" message="tns:getObligationById">
			</wsdl:input>
			<wsdl:output name="getObligationByIdResponse" message="tns:getObligationByIdResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObligationCategoryByName">
			<wsdl:input name="getObligationCategoryByName" message="tns:getObligationCategoryByName">
			</wsdl:input>
			<wsdl:output name="getObligationCategoryByNameResponse"
				message="tns:getObligationCategoryByNameResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="suggestObligations">
			<wsdl:input name="suggestObligations" message="tns:suggestObligations">
			</wsdl:input>
			<wsdl:output name="suggestObligationsResponse" message="tns:suggestObligationsResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="suggestObligationCategories">
			<wsdl:input name="suggestObligationCategories" message="tns:suggestObligationCategories">
			</wsdl:input>
			<wsdl:output name="suggestObligationCategoriesResponse"
				message="tns:suggestObligationCategoriesResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteObligation">
			<wsdl:input name="deleteObligation" message="tns:deleteObligation">
			</wsdl:input>
			<wsdl:output name="deleteObligationResponse" message="tns:deleteObligationResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObligationByName">
			<wsdl:input name="getObligationByName" message="tns:getObligationByName">
			</wsdl:input>
			<wsdl:output name="getObligationByNameResponse" message="tns:getObligationByNameResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createObligation">
			<wsdl:input name="createObligation" message="tns:createObligation">
			</wsdl:input>
			<wsdl:output name="createObligationResponse" message="tns:createObligationResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObligationCategoryById">
			<wsdl:input name="getObligationCategoryById" message="tns:getObligationCategoryById">
			</wsdl:input>
			<wsdl:output name="getObligationCategoryByIdResponse"
				message="tns:getObligationCategoryByIdResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createObligationCategory">
			<wsdl:input name="createObligationCategory" message="tns:createObligationCategory">
			</wsdl:input>
			<wsdl:output name="createObligationCategoryResponse"
				message="tns:createObligationCategoryResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAssignedObligationsForElement">
			<wsdl:input name="getAssignedObligationsForElement"
				message="tns:getAssignedObligationsForElement">
			</wsdl:input>
			<wsdl:output name="getAssignedObligationsForElementResponse"
				message="tns:getAssignedObligationsForElementResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateObligation">
			<wsdl:input name="updateObligation" message="tns:updateObligation">
			</wsdl:input>
			<wsdl:output name="updateObligationResponse" message="tns:updateObligationResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateObligationCategory">
			<wsdl:input name="updateObligationCategory" message="tns:updateObligationCategory">
			</wsdl:input>
			<wsdl:output name="updateObligationCategoryResponse"
				message="tns:updateObligationCategoryResponse">
			</wsdl:output>
			<wsdl:fault name="SdkFault" message="tns:SdkFault">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ObligationApiServiceSoapBinding" type="tns:ObligationApi">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="deleteObligationCategory">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteObligationCategory">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteObligationCategoryResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAssignedObligationsForElements">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAssignedObligationsForElements">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAssignedObligationsForElementsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObligationById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getObligationById">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getObligationByIdResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObligationCategoryByName">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getObligationCategoryByName">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getObligationCategoryByNameResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="suggestObligations">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="suggestObligations">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="suggestObligationsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="suggestObligationCategories">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="suggestObligationCategories">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="suggestObligationCategoriesResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteObligation">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteObligation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteObligationResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObligationByName">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getObligationByName">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getObligationByNameResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createObligation">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createObligation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createObligationResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObligationCategoryById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getObligationCategoryById">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getObligationCategoryByIdResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createObligationCategory">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createObligationCategory">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createObligationCategoryResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAssignedObligationsForElement">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAssignedObligationsForElement">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAssignedObligationsForElementResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateObligation">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateObligation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateObligationResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateObligationCategory">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateObligationCategory">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateObligationCategoryResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SdkFault">
				<soap:fault name="SdkFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ObligationApiService">
		<wsdl:port name="ObligationApiPort" binding="tns:ObligationApiServiceSoapBinding">
			<soap:address location="http://localhost:9090/ObligationApiPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
