protex-sdk-client/src/main/config/wsdl/roleApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RoleApiService" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:role" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:role" xmlns:ns1="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:ns1="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:role" elementFormDefault="unqualified" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:role" version="1.0">
<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:common"/>
<xs:element name="addUserRoles" type="tns:addUserRoles"/>
<xs:element name="addUserRolesResponse" type="tns:addUserRolesResponse"/>
<xs:element name="getRoleByName" type="tns:getRoleByName"/>
<xs:element name="getRoleByNameResponse" type="tns:getRoleByNameResponse"/>
<xs:element name="getUserRoleInfos" type="tns:getUserRoleInfos"/>
<xs:element name="getUserRoleInfosResponse" type="tns:getUserRoleInfosResponse"/>
<xs:element name="getUserRoles" type="tns:getUserRoles"/>
<xs:element name="getUserRolesResponse" type="tns:getUserRolesResponse"/>
<xs:element name="removeUserRoles" type="tns:removeUserRoles"/>
<xs:element name="removeUserRolesResponse" type="tns:removeUserRolesResponse"/>
<xs:element name="role" type="tns:role"/>
<xs:element name="userRoleInfo" type="tns:userRoleInfo"/>
<xs:complexType name="removeUserRoles">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roleIds" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeUserRolesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getUserRoleInfos">
<xs:sequence>
<xs:element minOccurs="0" name="pageFilter" type="tns:userRoleInfoPageFilter"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userRoleInfoPageFilter">
<xs:complexContent>
<xs:extension base="ns1:pageFilter">
<xs:sequence>
<xs:element minOccurs="0" name="sortedColumn" type="tns:userRoleInfoColumn"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="getUserRoleInfosResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userRoleInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userRoleInfo">
<xs:sequence>
<xs:element minOccurs="0" name="label" type="xs:string"/>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addUserRoles">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roleIds" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addUserRolesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getRoleByName">
<xs:sequence>
<xs:element minOccurs="0" name="roleName" type="tns:roleName"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRoleByNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:role"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="role">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="tns:roleName"/>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserRoles">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserRolesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userRoleInfo"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="userRoleInfoColumn">
<xs:restriction base="xs:string">
<xs:enumeration value="LABEL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="roleName">
<xs:restriction base="xs:string">
<xs:enumeration value="ADMINISTRATOR"/>
<xs:enumeration value="ATTORNEY"/>
<xs:enumeration value="CUSTOM_COMPONENT_MANAGER"/>
<xs:enumeration value="DEVELOPER"/>
<xs:enumeration value="EARLY_ACCESS_ADMINISTRATOR"/>
<xs:enumeration value="EARLY_ACCESS_ATTORNEY"/>
<xs:enumeration value="EARLY_ACCESS_MANAGER"/>
<xs:enumeration value="MANAGER"/>
<xs:enumeration value="POWER_DEVELOPER"/>
<xs:enumeration value="PROJECT_LEADER"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:common" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:common" version="1.0">
<xs:complexType abstract="true" name="pageFilter">
<xs:sequence>
<xs:element minOccurs="0" name="firstRowIndex" type="xs:int"/>
<xs:element minOccurs="0" name="lastRowIndex" type="xs:int"/>
<xs:element minOccurs="0" name="sortAscending" type="xs:boolean"/>
<xs:element minOccurs="0" name="sortType" type="tns:sortType"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="sortType">
<xs:restriction base="xs:string">
<xs:enumeration value="ALPHABETICAL_CASE_INSENSITIVE"/>
<xs:enumeration value="NUMERIC"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:blackducksoftware.com:sdk:v7.0:fault" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:blackducksoftware.com:sdk:v7.0:fault">
<xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails"/>
<xs:complexType name="sdkFaultDetails">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="errorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="SERVER_REGISTRATION_ERROR"/>
<xs:enumeration value="SERVER_PERFORMING_UPDATE"/>
<xs:enumeration value="NO_ANALYSIS_RUNNING"/>
<xs:enumeration value="ANALYSIS_ALREADY_RUNNING"/>
<xs:enumeration value="NO_ARCHIVING_JOB"/>
<xs:enumeration value="ARCHIVING_JOB_ALREADY_RUNNING"/>
<xs:enumeration value="ARCHIVING_UNABLE_TO_IMPORT"/>
<xs:enumeration value="ARCHIVING_UNABLE_TO_WRITE_TO_TARGET"/>
<xs:enumeration value="INVALID_SOURCE_LOCATION_FOR_SCAN"/>
<xs:enumeration value="PROJECT_COULD_NOT_BE_LOCKED"/>
<xs:enumeration value="LICENSE_NAME_TOO_LONG"/>
<xs:enumeration value="LICENSE_TYPE_STANDARD_CANT_CHANGE_NAME"/>
<xs:enumeration value="TAG_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_IS_REFERENCED"/>
<xs:enumeration value="OBLIGATION_NOT_ASSIGNED"/>
<xs:enumeration value="DUPLICATE_LICENSE_NAME"/>
<xs:enumeration value="LICENSE_NOT_FOUND"/>
<xs:enumeration value="LICENSE_IN_USE"/>
<xs:enumeration value="CAN_NOT_RESET_CUSTOM_LICENSE"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_CATEGORY"/>
<xs:enumeration value="OBLIGATION_CATEGORY_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_CATEGORY_IN_USE"/>
<xs:enumeration value="OBLIGATION_CATEGORY_CAN_NOT_BE_DELETED"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_NAME"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_ASSIGNMENT"/>
<xs:enumeration value="INVALID_OBLIGATION_NAME"/>
<xs:enumeration value="OBLIGATION_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_IN_USE_BY_PROJECTS"/>
<xs:enumeration value="OBLIGATION_IN_USE_BY_LICENSES"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_NOT_FOUND"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_NAME"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_ASSOCIATION"/>
<xs:enumeration value="RAPID_ID_OPERATION_TYPE_DUPLICATE"/>
<xs:enumeration value="LEARNED_IDENTIFICATION_NOT_FOUND"/>
<xs:enumeration value="USER_NOT_ASSIGNED_TO_PROJECT"/>
<xs:enumeration value="UNKNOWN_ANALYSIS_DATABASE_OPTION"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_UPDATE_OF_STANDARD_PATTERN_NOT_ALLOWED"/>
<xs:enumeration value="CUSTOM_COMPONENT_IN_USE"/>
<xs:enumeration value="CUSTOM_COMPONENT_HAS_NO_SOURCE"/>
<xs:enumeration value="DUPLICATE_TEMPLATE_TITLE"/>
<xs:enumeration value="REPORT_TEMPLATE_NOT_FOUND"/>
<xs:enumeration value="DEFAULT_REPORT_TEMPLATE_NOT_SET"/>
<xs:enumeration value="DUPLICATE_PROJECT_NAME"/>
<xs:enumeration value="PROJECT_ANALYSIS_LOCAL_SOURCE_NOT_SUPPORTED"/>
<xs:enumeration value="OPTIONS_SETTING_NOT_ALLOWED"/>
<xs:enumeration value="OPTIONS_CANNOT_BE_FORCED_FOR_LOCAL_SEARCH_SETTINGS"/>
<xs:enumeration value="DUPLICATE_STRING_SEARCH_PATTERN_NAME"/>
<xs:enumeration value="DUPLICATE_FILE_DISCOVERY_PATTERN_NAME"/>
<xs:enumeration value="LINKING_PROJECTS_FORCES_CLONING_OF_WORK_RESULTS"/>
<xs:enumeration value="PROJECT_NOT_YET_ANALYZED"/>
<xs:enumeration value="DUPLICATE_USER_ASSIGNMENT"/>
<xs:enumeration value="PROJECT_NAME_TOO_LONG"/>
<xs:enumeration value="INVALID_PROJECT_NAME"/>
<xs:enumeration value="PROJECT_NOT_FOUND"/>
<xs:enumeration value="PROJECT_SYNCID_INVALID"/>
<xs:enumeration value="LINKING_GLOBALLY_DISABLED"/>
<xs:enumeration value="PROJECT_IN_USE"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_NAME_TOO_LONG"/>
<xs:enumeration value="ROLE_NOT_FOUND"/>
<xs:enumeration value="MINIMUM_ONE_ADMIN_USER"/>
<xs:enumeration value="REMOVE_SELF_AS_ADMIN_USER"/>
<xs:enumeration value="DUPLICATE_EMAIL_ADDRESS"/>
<xs:enumeration value="EMAIL_TOO_LONG"/>
<xs:enumeration value="FIRST_NAME_TOO_LONG"/>
<xs:enumeration value="LAST_NAME_TOO_LONG"/>
<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_TOO_LONG"/>
<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_DUPLICATE"/>
<xs:enumeration value="INVALID_EMAIL_ADDRESS"/>
<xs:enumeration value="USER_NOT_FOUND"/>
<xs:enumeration value="PASSWORD_TOO_SHORT"/>
<xs:enumeration value="PASSWORD_TOO_LONG"/>
<xs:enumeration value="STRING_SEARCH_DISCOVERY_NOT_FOUND"/>
<xs:enumeration value="STRING_SEARCH_REQUIRES_UPLOADED_SOURCE"/>
<xs:enumeration value="USAGE_LEVEL_INVALID_FOR_GIVEN_ID"/>
<xs:enumeration value="CANNOT_COPY_ID_PROJECT_SYNCHRONIZED"/>
<xs:enumeration value="CODE_TREE_PATH_NOT_FOUND"/>
<xs:enumeration value="CODE_TREE_GUARANTEED_EMPTY_RESULT"/>
<xs:enumeration value="NO_FILE_CONTENT"/>
<xs:enumeration value="CODE_TREE_PARENT_PATH_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_COMPONENT_NAME"/>
<xs:enumeration value="COMPONENT_NAME_TOO_LONG"/>
<xs:enumeration value="INVALID_COMPONENT_NAME"/>
<xs:enumeration value="COMPONENT_NOT_FOUND"/>
<xs:enumeration value="COMPONENT_VERSION_NOT_FOUND"/>
<xs:enumeration value="OPTION_IS_FORCED"/>
<xs:enumeration value="FILE_DISCOVERY_PATTERN_NOT_FOUND"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_NOT_FOUND"/>
<xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR"/>
<xs:enumeration value="UNKNOWN_REPORT_SECTION_ERROR"/>
<xs:enumeration value="PROTEX_FILE_SOURCE_NOT_AVAILABLE"/>
<xs:enumeration value="NOT_A_FILE_PATH"/>
<xs:enumeration value="ARGUMENT_VALUE_INVALID"/>
<xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="ARGUMENT_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="ARGUMENT_VALUE_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="INVALID_CREDENTIALS"/>
<xs:enumeration value="INSUFFICIENT_PERMISSION"/>
<xs:enumeration value="UNKNOWN_ERROR"/>
<xs:enumeration value="BOM_REFRESH_NOT_FINISHED"/>
<xs:enumeration value="BOM_COMPONENT_PROJECT_CANT_UPDATE"/>
<xs:enumeration value="UPDATE_BOM_COMPONENT_VERSION_NAME_OF_COMPONENT_VERSION_PROHIBITED"/>
<xs:enumeration value="TODO_CONVERT_EXCEPTION"/>
<xs:enumeration value="UNEXPECTED_RETURN_VALUE_ERROR"/>
<xs:enumeration value="OUT_OF_MEMORY_ERROR"/>
<xs:enumeration value="NO_SESSION_ID"/>
<xs:enumeration value="INVALID_SORT_KEY"/>
<xs:enumeration value="CAN_NOT_OPEN_TEMP_FILE"/>
<xs:enumeration value="CODEMATCH_SELF_IDENTIFICATION_MUST_MATCH_DECLARED_LICENSE"/>
<xs:enumeration value="IDENTIFICATION_NOT_FOUND"/>
<xs:enumeration value="IDENTIFICATION_LEARNING_CONFLICT"/>
<xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG"/>
<xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY"/>
<xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND"/>
<xs:enumeration value="EXTERNAL_ID_MAPPING_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING"/>
<xs:enumeration value="TEMPLATE_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_VERSION_NAME"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserRolesResponse">
    <wsdl:part name="parameters" element="tns:getUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserRoles">
    <wsdl:part name="parameters" element="tns:addUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleByName">
    <wsdl:part name="parameters" element="tns:getRoleByName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRoles">
    <wsdl:part name="parameters" element="tns:getUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserRolesResponse">
    <wsdl:part name="parameters" element="tns:removeUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserRoles">
    <wsdl:part name="parameters" element="tns:removeUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRoleInfos">
    <wsdl:part name="parameters" element="tns:getUserRoleInfos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleByNameResponse">
    <wsdl:part name="parameters" element="tns:getRoleByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserRolesResponse">
    <wsdl:part name="parameters" element="tns:addUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SdkFault">
    <wsdl:part name="SdkFault" element="ns1:SdkFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRoleInfosResponse">
    <wsdl:part name="parameters" element="tns:getUserRoleInfosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RoleApi">
    <wsdl:operation name="removeUserRoles">
      <wsdl:input name="removeUserRoles" message="tns:removeUserRoles">
    </wsdl:input>
      <wsdl:output name="removeUserRolesResponse" message="tns:removeUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserRoleInfos">
      <wsdl:input name="getUserRoleInfos" message="tns:getUserRoleInfos">
    </wsdl:input>
      <wsdl:output name="getUserRoleInfosResponse" message="tns:getUserRoleInfosResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserRoles">
      <wsdl:input name="addUserRoles" message="tns:addUserRoles">
    </wsdl:input>
      <wsdl:output name="addUserRolesResponse" message="tns:addUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRoleByName">
      <wsdl:input name="getRoleByName" message="tns:getRoleByName">
    </wsdl:input>
      <wsdl:output name="getRoleByNameResponse" message="tns:getRoleByNameResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <wsdl:input name="getUserRoles" message="tns:getUserRoles">
    </wsdl:input>
      <wsdl:output name="getUserRolesResponse" message="tns:getUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleApiServiceSoapBinding" type="tns:RoleApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removeUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserRoleInfos">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserRoleInfos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserRoleInfosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRoleByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRoleByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRoleByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleApiService">
    <wsdl:port name="RoleApiPort" binding="tns:RoleApiServiceSoapBinding">
      <soap:address location="http://localhost:9090/RoleApiPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
