protex-sdk-client/src/main/config/wsdl/synchronizationApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SynchronizationApiService" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:synchronization" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:synchronization" xmlns:ns1="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:synchronization" elementFormDefault="unqualified" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:synchronization" version="1.0">
<xs:element name="getSecondaryServers" type="tns:getSecondaryServers"/>
<xs:element name="getSecondaryServersResponse" type="tns:getSecondaryServersResponse"/>
<xs:element name="isPrimary" type="tns:isPrimary"/>
<xs:element name="isPrimaryResponse" type="tns:isPrimaryResponse"/>
<xs:element name="isSecondary" type="tns:isSecondary"/>
<xs:element name="isSecondaryResponse" type="tns:isSecondaryResponse"/>
<xs:complexType name="isPrimary">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="isPrimaryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getSecondaryServers">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getSecondaryServersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:synchronizedServerInfo"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="synchronizedServerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="label" type="xs:string"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="isSecondary">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="isSecondaryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:blackducksoftware.com:sdk:v7.0:fault" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:blackducksoftware.com:sdk:v7.0:fault">
  <xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails"/>
  <xs:complexType name="sdkFaultDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="errorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVER_REGISTRATION_ERROR"/>
      <xs:enumeration value="SERVER_PERFORMING_UPDATE"/>
      <xs:enumeration value="NO_ANALYSIS_RUNNING"/>
      <xs:enumeration value="ANALYSIS_ALREADY_RUNNING"/>
      <xs:enumeration value="INVALID_SOURCE_LOCATION_FOR_SCAN"/>
      <xs:enumeration value="PROJECT_COULD_NOT_BE_LOCKED"/>
      <xs:enumeration value="LICENSE_NAME_TOO_LONG"/>
      <xs:enumeration value="LICENSE_TYPE_STANDARD_CANT_CHANGE_NAME"/>
      <xs:enumeration value="TAG_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_IS_REFERENCED"/>
      <xs:enumeration value="OBLIGATION_NOT_ASSIGNED"/>
      <xs:enumeration value="DUPLICATE_LICENSE_NAME"/>
      <xs:enumeration value="LICENSE_NOT_FOUND"/>
      <xs:enumeration value="LICENSE_IN_USE"/>
      <xs:enumeration value="CAN_NOT_RESET_CUSTOM_LICENSE"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_CATEGORY"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_IN_USE"/>
      <xs:enumeration value="OBLIGATION_CATEGORY_CAN_NOT_BE_DELETED"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_NAME"/>
      <xs:enumeration value="DUPLICATE_OBLIGATION_ASSIGNMENT"/>
      <xs:enumeration value="INVALID_OBLIGATION_NAME"/>
      <xs:enumeration value="OBLIGATION_NOT_FOUND"/>
      <xs:enumeration value="OBLIGATION_IN_USE_BY_PROJECTS"/>
      <xs:enumeration value="OBLIGATION_IN_USE_BY_LICENSES"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_NOT_FOUND"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_NAME"/>
      <xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_ASSOCIATION"/>
      <xs:enumeration value="RAPID_ID_OPERATION_TYPE_DUPLICATE"/>
      <xs:enumeration value="LEARNED_IDENTIFICATION_NOT_FOUND"/>
      <xs:enumeration value="USER_NOT_ASSIGNED_TO_PROJECT"/>
      <xs:enumeration value="UNKNOWN_ANALYSIS_DATABASE_OPTION"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_UPDATE_OF_STANDARD_PATTERN_NOT_ALLOWED"/>
      <xs:enumeration value="CUSTOM_COMPONENT_IN_USE"/>
      <xs:enumeration value="CUSTOM_COMPONENT_HAS_NO_SOURCE"/>
      <xs:enumeration value="DUPLICATE_TEMPLATE_TITLE"/>
      <xs:enumeration value="REPORT_TEMPLATE_NOT_FOUND"/>
      <xs:enumeration value="DEFAULT_REPORT_TEMPLATE_NOT_SET"/>
      <xs:enumeration value="DUPLICATE_PROJECT_NAME"/>
      <xs:enumeration value="PROJECT_ANALYSIS_LOCAL_SOURCE_NOT_SUPPORTED"/>
      <xs:enumeration value="OPTIONS_SETTING_NOT_ALLOWED"/>
      <xs:enumeration value="OPTIONS_CANNOT_BE_FORCED_FOR_LOCAL_SEARCH_SETTINGS"/>
      <xs:enumeration value="DUPLICATE_STRING_SEARCH_PATTERN_NAME"/>
      <xs:enumeration value="DUPLICATE_FILE_DISCOVERY_PATTERN_NAME"/>
      <xs:enumeration value="LINKING_PROJECTS_FORCES_CLONING_OF_WORK_RESULTS"/>
      <xs:enumeration value="PROJECT_NOT_YET_ANALYZED"/>
      <xs:enumeration value="DUPLICATE_USER_ASSIGNMENT"/>
      <xs:enumeration value="PROJECT_NAME_TOO_LONG"/>
      <xs:enumeration value="INVALID_PROJECT_NAME"/>
      <xs:enumeration value="PROJECT_NOT_FOUND"/>
      <xs:enumeration value="PROJECT_SYNCID_INVALID"/>
      <xs:enumeration value="LINKING_GLOBALLY_DISABLED"/>
      <xs:enumeration value="PROJECT_IN_USE"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_NAME_TOO_LONG"/>
      <xs:enumeration value="ROLE_NOT_FOUND"/>
      <xs:enumeration value="MINIMUM_ONE_ADMIN_USER"/>
      <xs:enumeration value="REMOVE_SELF_AS_ADMIN_USER"/>
      <xs:enumeration value="DUPLICATE_EMAIL_ADDRESS"/>
      <xs:enumeration value="EMAIL_TOO_LONG"/>
      <xs:enumeration value="FIRST_NAME_TOO_LONG"/>
      <xs:enumeration value="LAST_NAME_TOO_LONG"/>
      <xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_TOO_LONG"/>
      <xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_DUPLICATE"/>
      <xs:enumeration value="INVALID_EMAIL_ADDRESS"/>
      <xs:enumeration value="USER_NOT_FOUND"/>
      <xs:enumeration value="PASSWORD_TOO_SHORT"/>
      <xs:enumeration value="PASSWORD_TOO_LONG"/>
      <xs:enumeration value="STRING_SEARCH_DISCOVERY_NOT_FOUND"/>
      <xs:enumeration value="STRING_SEARCH_REQUIRES_UPLOADED_SOURCE"/>
      <xs:enumeration value="USAGE_LEVEL_INVALID_FOR_GIVEN_ID"/>
      <xs:enumeration value="CANNOT_COPY_ID_PROJECT_SYNCHRONIZED"/>
      <xs:enumeration value="CODE_TREE_PATH_NOT_FOUND"/>
      <xs:enumeration value="CODE_TREE_GUARANTEED_EMPTY_RESULT"/>
      <xs:enumeration value="NO_FILE_CONTENT"/>
      <xs:enumeration value="CODE_TREE_PARENT_PATH_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_COMPONENT_NAME"/>
      <xs:enumeration value="COMPONENT_NAME_TOO_LONG"/>
      <xs:enumeration value="INVALID_COMPONENT_NAME"/>
      <xs:enumeration value="COMPONENT_NOT_FOUND"/>
      <xs:enumeration value="COMPONENT_VERSION_NOT_FOUND"/>
      <xs:enumeration value="OPTION_IS_FORCED"/>
      <xs:enumeration value="FILE_DISCOVERY_PATTERN_NOT_FOUND"/>
      <xs:enumeration value="STRING_SEARCH_PATTERN_NOT_FOUND"/>
      <xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR"/>
      <xs:enumeration value="UNKNOWN_REPORT_SECTION_ERROR"/>
      <xs:enumeration value="PROTEX_FILE_SOURCE_NOT_AVAILABLE"/>
      <xs:enumeration value="NOT_A_FILE_PATH"/>
      <xs:enumeration value="ARGUMENT_VALUE_INVALID"/>
      <xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="ARGUMENT_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="ARGUMENT_VALUE_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="INVALID_CREDENTIALS"/>
      <xs:enumeration value="INSUFFICIENT_PERMISSION"/>
      <xs:enumeration value="UNKNOWN_ERROR"/>
      <xs:enumeration value="BOM_REFRESH_NOT_FINISHED"/>
      <xs:enumeration value="BOM_COMPONENT_PROJECT_CANT_UPDATE"/>
      <xs:enumeration value="UPDATE_BOM_COMPONENT_VERSION_NAME_OF_COMPONENT_VERSION_PROHIBITED"/>
      <xs:enumeration value="TODO_CONVERT_EXCEPTION"/>
      <xs:enumeration value="UNEXPECTED_RETURN_VALUE_ERROR"/>
      <xs:enumeration value="OUT_OF_MEMORY_ERROR"/>
      <xs:enumeration value="NO_SESSION_ID"/>
      <xs:enumeration value="INVALID_SORT_KEY"/>
      <xs:enumeration value="CAN_NOT_OPEN_TEMP_FILE"/>
      <xs:enumeration value="CODEMATCH_SELF_IDENTIFICATION_MUST_MATCH_DECLARED_LICENSE"/>
      <xs:enumeration value="IDENTIFICATION_NOT_FOUND"/>
      <xs:enumeration value="IDENTIFICATION_LEARNING_CONFLICT"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND"/>
      <xs:enumeration value="EXTERNAL_ID_MAPPING_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING"/>
      <xs:enumeration value="TEMPLATE_NOT_FOUND"/>
      <xs:enumeration value="DUPLICATE_VERSION_NAME"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="isPrimaryResponse">
    <wsdl:part name="parameters" element="tns:isPrimaryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SdkFault">
    <wsdl:part name="SdkFault" element="ns1:SdkFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPrimary">
    <wsdl:part name="parameters" element="tns:isPrimary">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecondaryServers">
    <wsdl:part name="parameters" element="tns:getSecondaryServers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecondaryServersResponse">
    <wsdl:part name="parameters" element="tns:getSecondaryServersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isSecondaryResponse">
    <wsdl:part name="parameters" element="tns:isSecondaryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isSecondary">
    <wsdl:part name="parameters" element="tns:isSecondary">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SynchronizationApi">
    <wsdl:operation name="isPrimary">
      <wsdl:input name="isPrimary" message="tns:isPrimary">
    </wsdl:input>
      <wsdl:output name="isPrimaryResponse" message="tns:isPrimaryResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSecondaryServers">
      <wsdl:input name="getSecondaryServers" message="tns:getSecondaryServers">
    </wsdl:input>
      <wsdl:output name="getSecondaryServersResponse" message="tns:getSecondaryServersResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isSecondary">
      <wsdl:input name="isSecondary" message="tns:isSecondary">
    </wsdl:input>
      <wsdl:output name="isSecondaryResponse" message="tns:isSecondaryResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SynchronizationApiServiceSoapBinding" type="tns:SynchronizationApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isPrimary">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isPrimary">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPrimaryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSecondaryServers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSecondaryServers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSecondaryServersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isSecondary">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isSecondary">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isSecondaryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SynchronizationApiService">
    <wsdl:port name="SynchronizationApiPort" binding="tns:SynchronizationApiServiceSoapBinding">
      <soap:address location="http://localhost:9090/SynchronizationApiPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
