protex-sdk-client/src/main/config/wsdl/userApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserApiService" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:user" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:user" xmlns:ns1="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="urn:protex.blackducksoftware.com:sdk:v7.0:common" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:role="urn:protex.blackducksoftware.com:sdk:v7.0:role" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:user" elementFormDefault="unqualified" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:user" version="1.0">
<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:role"/>
<xs:import namespace="urn:protex.blackducksoftware.com:sdk:v7.0:common"/>
<xs:element name="addUserRoles" type="tns:addUserRoles"/>
<xs:element name="addUserRolesResponse" type="tns:addUserRolesResponse"/>
<xs:element name="createUser" type="tns:createUser"/>
<xs:element name="createUserResponse" type="tns:createUserResponse"/>
<xs:element name="deleteUser" type="tns:deleteUser"/>
<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>
<xs:element name="getCurrentUserHasServerFileAccess" type="tns:getCurrentUserHasServerFileAccess"/>
<xs:element name="getCurrentUserHasServerFileAccessResponse" type="tns:getCurrentUserHasServerFileAccessResponse"/>
<xs:element name="getLastSignIn" type="tns:getLastSignIn"/>
<xs:element name="getLastSignInResponse" type="tns:getLastSignInResponse"/>
<xs:element name="getTags" type="tns:getTags"/>
<xs:element name="getTagsResponse" type="tns:getTagsResponse"/>
<xs:element name="getUserAccountsUrl" type="tns:getUserAccountsUrl"/>
<xs:element name="getUserAccountsUrlResponse" type="tns:getUserAccountsUrlResponse"/>
<xs:element name="getUserByEmail" type="tns:getUserByEmail"/>
<xs:element name="getUserByEmailResponse" type="tns:getUserByEmailResponse"/>
<xs:element name="getUserById" type="tns:getUserById"/>
<xs:element name="getUserByIdResponse" type="tns:getUserByIdResponse"/>
<xs:element name="getUserRoles" type="tns:getUserRoles"/>
<xs:element name="getUserRolesResponse" type="tns:getUserRolesResponse"/>
<xs:element name="getUsers" type="tns:getUsers"/>
<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>
<xs:element name="removeUserRoles" type="tns:removeUserRoles"/>
<xs:element name="removeUserRolesResponse" type="tns:removeUserRolesResponse"/>
<xs:element name="updateUser" type="tns:updateUser"/>
<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
<xs:element name="user" type="tns:user"/>
<xs:complexType name="getTags">
<xs:sequence>
<xs:element minOccurs="0" name="protexUserId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTagsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateUser">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="user" type="tns:userRequest"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userRequest">
<xs:sequence>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="externalAuthenticationId" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="ldapAuthenticationId" type="xs:string"/>
<xs:element minOccurs="0" name="ldapAuthenticationRequired" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:userRequest">
<xs:sequence>
<xs:element minOccurs="0" name="dateCreated" type="xs:dateTime"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="updateUserResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getUserRoles">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserRolesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="role:role"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserById">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="userIdType" type="tns:userIdType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:user"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createUser">
<xs:sequence>
<xs:element minOccurs="0" name="userRequest" type="tns:userRequest"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createUserResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addUserRoles">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roles" type="role:role"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addUserRolesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getCurrentUserHasServerFileAccess">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getCurrentUserHasServerFileAccessResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUserResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getUserAccountsUrl">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getUserAccountsUrlResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeUserRoles">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roles" type="role:role"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeUserRolesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getLastSignIn">
<xs:sequence>
<xs:element minOccurs="0" name="protexUserId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLastSignInResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserByEmail">
<xs:sequence>
<xs:element minOccurs="0" name="eMail" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserByEmailResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:user"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsers">
<xs:sequence>
<xs:element minOccurs="0" name="pageFilter" type="tns:userPageFilter"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userPageFilter">
<xs:complexContent>
<xs:extension base="common:pageFilter">
<xs:sequence>
<xs:element minOccurs="0" name="sortedColumn" type="tns:userColumn"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:user"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="userIdType">
<xs:restriction base="xs:string">
<xs:enumeration value="PROTEX_ID"/>
<xs:enumeration value="LDAP_ID"/>
<xs:enumeration value="EXTERNAL_ID"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="userColumn">
<xs:restriction base="xs:string">
<xs:enumeration value="USER_ID"/>
<xs:enumeration value="EMAIL"/>
<xs:enumeration value="FIRST_NAME"/>
<xs:enumeration value="LAST_NAME"/>
<xs:enumeration value="LDAP_AUTHENTICATION_ID"/>
<xs:enumeration value="EXTERNAL_USER_ID"/>
<xs:enumeration value="CREATED_DATE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:role" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:role" version="1.0">
<xs:element name="role" type="tns:role"/>
<xs:complexType name="role">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="tns:roleName"/>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="roleName">
<xs:restriction base="xs:string">
<xs:enumeration value="ADMINISTRATOR"/>
<xs:enumeration value="ATTORNEY"/>
<xs:enumeration value="CUSTOM_COMPONENT_MANAGER"/>
<xs:enumeration value="DEVELOPER"/>
<xs:enumeration value="EARLY_ACCESS_ADMINISTRATOR"/>
<xs:enumeration value="EARLY_ACCESS_ATTORNEY"/>
<xs:enumeration value="EARLY_ACCESS_MANAGER"/>
<xs:enumeration value="MANAGER"/>
<xs:enumeration value="POWER_DEVELOPER"/>
<xs:enumeration value="PROJECT_LEADER"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:protex.blackducksoftware.com:sdk:v7.0:common" targetNamespace="urn:protex.blackducksoftware.com:sdk:v7.0:common" version="1.0">
<xs:complexType abstract="true" name="pageFilter">
<xs:sequence>
<xs:element minOccurs="0" name="firstRowIndex" type="xs:int"/>
<xs:element minOccurs="0" name="lastRowIndex" type="xs:int"/>
<xs:element minOccurs="0" name="sortAscending" type="xs:boolean"/>
<xs:element minOccurs="0" name="sortType" type="tns:sortType"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="sortType">
<xs:restriction base="xs:string">
<xs:enumeration value="ALPHABETICAL_CASE_INSENSITIVE"/>
<xs:enumeration value="NUMERIC"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="urn:blackducksoftware.com:sdk:v7.0:fault" xmlns:tns="urn:blackducksoftware.com:sdk:v7.0:fault" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:blackducksoftware.com:sdk:v7.0:fault">
<xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails"/>
<xs:complexType name="sdkFaultDetails">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="errorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="SERVER_REGISTRATION_ERROR"/>
<xs:enumeration value="SERVER_PERFORMING_UPDATE"/>
<xs:enumeration value="NO_ANALYSIS_RUNNING"/>
<xs:enumeration value="ANALYSIS_ALREADY_RUNNING"/>
<xs:enumeration value="NO_ARCHIVING_JOB"/>
<xs:enumeration value="ARCHIVING_JOB_ALREADY_RUNNING"/>
<xs:enumeration value="ARCHIVING_UNABLE_TO_IMPORT"/>
<xs:enumeration value="ARCHIVING_UNABLE_TO_WRITE_TO_TARGET"/>
<xs:enumeration value="INVALID_SOURCE_LOCATION_FOR_SCAN"/>
<xs:enumeration value="PROJECT_COULD_NOT_BE_LOCKED"/>
<xs:enumeration value="LICENSE_NAME_TOO_LONG"/>
<xs:enumeration value="LICENSE_TYPE_STANDARD_CANT_CHANGE_NAME"/>
<xs:enumeration value="TAG_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_IS_REFERENCED"/>
<xs:enumeration value="OBLIGATION_NOT_ASSIGNED"/>
<xs:enumeration value="DUPLICATE_LICENSE_NAME"/>
<xs:enumeration value="LICENSE_NOT_FOUND"/>
<xs:enumeration value="LICENSE_IN_USE"/>
<xs:enumeration value="CAN_NOT_RESET_CUSTOM_LICENSE"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_CATEGORY"/>
<xs:enumeration value="OBLIGATION_CATEGORY_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_CATEGORY_IN_USE"/>
<xs:enumeration value="OBLIGATION_CATEGORY_CAN_NOT_BE_DELETED"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_NAME"/>
<xs:enumeration value="DUPLICATE_OBLIGATION_ASSIGNMENT"/>
<xs:enumeration value="INVALID_OBLIGATION_NAME"/>
<xs:enumeration value="OBLIGATION_NOT_FOUND"/>
<xs:enumeration value="OBLIGATION_IN_USE_BY_PROJECTS"/>
<xs:enumeration value="OBLIGATION_IN_USE_BY_LICENSES"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_NOT_FOUND"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_NAME"/>
<xs:enumeration value="RAPID_ID_CONFIGURATION_DUPLICATE_ASSOCIATION"/>
<xs:enumeration value="RAPID_ID_OPERATION_TYPE_DUPLICATE"/>
<xs:enumeration value="LEARNED_IDENTIFICATION_NOT_FOUND"/>
<xs:enumeration value="USER_NOT_ASSIGNED_TO_PROJECT"/>
<xs:enumeration value="UNKNOWN_ANALYSIS_DATABASE_OPTION"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_UPDATE_OF_STANDARD_PATTERN_NOT_ALLOWED"/>
<xs:enumeration value="CUSTOM_COMPONENT_IN_USE"/>
<xs:enumeration value="CUSTOM_COMPONENT_HAS_NO_SOURCE"/>
<xs:enumeration value="DUPLICATE_TEMPLATE_TITLE"/>
<xs:enumeration value="REPORT_TEMPLATE_NOT_FOUND"/>
<xs:enumeration value="DEFAULT_REPORT_TEMPLATE_NOT_SET"/>
<xs:enumeration value="DUPLICATE_PROJECT_NAME"/>
<xs:enumeration value="PROJECT_ANALYSIS_LOCAL_SOURCE_NOT_SUPPORTED"/>
<xs:enumeration value="OPTIONS_SETTING_NOT_ALLOWED"/>
<xs:enumeration value="OPTIONS_CANNOT_BE_FORCED_FOR_LOCAL_SEARCH_SETTINGS"/>
<xs:enumeration value="DUPLICATE_STRING_SEARCH_PATTERN_NAME"/>
<xs:enumeration value="DUPLICATE_FILE_DISCOVERY_PATTERN_NAME"/>
<xs:enumeration value="LINKING_PROJECTS_FORCES_CLONING_OF_WORK_RESULTS"/>
<xs:enumeration value="PROJECT_NOT_YET_ANALYZED"/>
<xs:enumeration value="DUPLICATE_USER_ASSIGNMENT"/>
<xs:enumeration value="PROJECT_NAME_TOO_LONG"/>
<xs:enumeration value="INVALID_PROJECT_NAME"/>
<xs:enumeration value="PROJECT_NOT_FOUND"/>
<xs:enumeration value="PROJECT_SYNCID_INVALID"/>
<xs:enumeration value="LINKING_GLOBALLY_DISABLED"/>
<xs:enumeration value="PROJECT_IN_USE"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_NAME_TOO_LONG"/>
<xs:enumeration value="ROLE_NOT_FOUND"/>
<xs:enumeration value="MINIMUM_ONE_ADMIN_USER"/>
<xs:enumeration value="REMOVE_SELF_AS_ADMIN_USER"/>
<xs:enumeration value="DUPLICATE_EMAIL_ADDRESS"/>
<xs:enumeration value="EMAIL_TOO_LONG"/>
<xs:enumeration value="FIRST_NAME_TOO_LONG"/>
<xs:enumeration value="LAST_NAME_TOO_LONG"/>
<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_TOO_LONG"/>
<xs:enumeration value="EXTERNAL_AUTHENTICATION_ID_DUPLICATE"/>
<xs:enumeration value="INVALID_EMAIL_ADDRESS"/>
<xs:enumeration value="USER_NOT_FOUND"/>
<xs:enumeration value="PASSWORD_TOO_SHORT"/>
<xs:enumeration value="PASSWORD_TOO_LONG"/>
<xs:enumeration value="STRING_SEARCH_DISCOVERY_NOT_FOUND"/>
<xs:enumeration value="STRING_SEARCH_REQUIRES_UPLOADED_SOURCE"/>
<xs:enumeration value="USAGE_LEVEL_INVALID_FOR_GIVEN_ID"/>
<xs:enumeration value="CANNOT_COPY_ID_PROJECT_SYNCHRONIZED"/>
<xs:enumeration value="CODE_TREE_PATH_NOT_FOUND"/>
<xs:enumeration value="CODE_TREE_GUARANTEED_EMPTY_RESULT"/>
<xs:enumeration value="NO_FILE_CONTENT"/>
<xs:enumeration value="CODE_TREE_PARENT_PATH_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_COMPONENT_NAME"/>
<xs:enumeration value="COMPONENT_NAME_TOO_LONG"/>
<xs:enumeration value="INVALID_COMPONENT_NAME"/>
<xs:enumeration value="COMPONENT_NOT_FOUND"/>
<xs:enumeration value="COMPONENT_VERSION_NOT_FOUND"/>
<xs:enumeration value="OPTION_IS_FORCED"/>
<xs:enumeration value="FILE_DISCOVERY_PATTERN_NOT_FOUND"/>
<xs:enumeration value="STRING_SEARCH_PATTERN_NOT_FOUND"/>
<xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR"/>
<xs:enumeration value="UNKNOWN_REPORT_SECTION_ERROR"/>
<xs:enumeration value="PROTEX_FILE_SOURCE_NOT_AVAILABLE"/>
<xs:enumeration value="NOT_A_FILE_PATH"/>
<xs:enumeration value="ARGUMENT_VALUE_INVALID"/>
<xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="ARGUMENT_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="ARGUMENT_VALUE_NOT_YET_IMPLEMENTED"/>
<xs:enumeration value="INVALID_CREDENTIALS"/>
<xs:enumeration value="INSUFFICIENT_PERMISSION"/>
<xs:enumeration value="UNKNOWN_ERROR"/>
<xs:enumeration value="BOM_REFRESH_NOT_FINISHED"/>
<xs:enumeration value="BOM_COMPONENT_PROJECT_CANT_UPDATE"/>
<xs:enumeration value="UPDATE_BOM_COMPONENT_VERSION_NAME_OF_COMPONENT_VERSION_PROHIBITED"/>
<xs:enumeration value="TODO_CONVERT_EXCEPTION"/>
<xs:enumeration value="UNEXPECTED_RETURN_VALUE_ERROR"/>
<xs:enumeration value="OUT_OF_MEMORY_ERROR"/>
<xs:enumeration value="NO_SESSION_ID"/>
<xs:enumeration value="INVALID_SORT_KEY"/>
<xs:enumeration value="CAN_NOT_OPEN_TEMP_FILE"/>
<xs:enumeration value="CODEMATCH_SELF_IDENTIFICATION_MUST_MATCH_DECLARED_LICENSE"/>
<xs:enumeration value="IDENTIFICATION_NOT_FOUND"/>
<xs:enumeration value="IDENTIFICATION_LEARNING_CONFLICT"/>
<xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG"/>
<xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY"/>
<xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND"/>
<xs:enumeration value="EXTERNAL_ID_MAPPING_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING"/>
<xs:enumeration value="TEMPLATE_NOT_FOUND"/>
<xs:enumeration value="DUPLICATE_VERSION_NAME"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateUser">
    <wsdl:part name="parameters" element="tns:updateUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRolesResponse">
    <wsdl:part name="parameters" element="tns:getUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserRolesResponse">
    <wsdl:part name="parameters" element="tns:removeUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentUserHasServerFileAccessResponse">
    <wsdl:part name="parameters" element="tns:getCurrentUserHasServerFileAccessResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SdkFault">
    <wsdl:part name="SdkFault" element="ns1:SdkFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part name="parameters" element="tns:createUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUser">
    <wsdl:part name="parameters" element="tns:createUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="parameters" element="tns:deleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="parameters" element="tns:getUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByEmail">
    <wsdl:part name="parameters" element="tns:getUserByEmail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTags">
    <wsdl:part name="parameters" element="tns:getTags">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastSignInResponse">
    <wsdl:part name="parameters" element="tns:getLastSignInResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRoles">
    <wsdl:part name="parameters" element="tns:getUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserById">
    <wsdl:part name="parameters" element="tns:getUserById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTagsResponse">
    <wsdl:part name="parameters" element="tns:getTagsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByIdResponse">
    <wsdl:part name="parameters" element="tns:getUserByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByEmailResponse">
    <wsdl:part name="parameters" element="tns:getUserByEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserRoles">
    <wsdl:part name="parameters" element="tns:addUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentUserHasServerFileAccess">
    <wsdl:part name="parameters" element="tns:getCurrentUserHasServerFileAccess">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserAccountsUrl">
    <wsdl:part name="parameters" element="tns:getUserAccountsUrl">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part name="parameters" element="tns:updateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserRolesResponse">
    <wsdl:part name="parameters" element="tns:addUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserAccountsUrlResponse">
    <wsdl:part name="parameters" element="tns:getUserAccountsUrlResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserRoles">
    <wsdl:part name="parameters" element="tns:removeUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastSignIn">
    <wsdl:part name="parameters" element="tns:getLastSignIn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part name="parameters" element="tns:getUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserApi">
    <wsdl:operation name="getTags">
      <wsdl:input name="getTags" message="tns:getTags">
    </wsdl:input>
      <wsdl:output name="getTagsResponse" message="tns:getTagsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input name="updateUser" message="tns:updateUser">
    </wsdl:input>
      <wsdl:output name="updateUserResponse" message="tns:updateUserResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <wsdl:input name="getUserRoles" message="tns:getUserRoles">
    </wsdl:input>
      <wsdl:output name="getUserRolesResponse" message="tns:getUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <wsdl:input name="getUserById" message="tns:getUserById">
    </wsdl:input>
      <wsdl:output name="getUserByIdResponse" message="tns:getUserByIdResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input name="createUser" message="tns:createUser">
    </wsdl:input>
      <wsdl:output name="createUserResponse" message="tns:createUserResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserRoles">
      <wsdl:input name="addUserRoles" message="tns:addUserRoles">
    </wsdl:input>
      <wsdl:output name="addUserRolesResponse" message="tns:addUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCurrentUserHasServerFileAccess">
      <wsdl:input name="getCurrentUserHasServerFileAccess" message="tns:getCurrentUserHasServerFileAccess">
    </wsdl:input>
      <wsdl:output name="getCurrentUserHasServerFileAccessResponse" message="tns:getCurrentUserHasServerFileAccessResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser">
    </wsdl:input>
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserAccountsUrl">
      <wsdl:input name="getUserAccountsUrl" message="tns:getUserAccountsUrl">
    </wsdl:input>
      <wsdl:output name="getUserAccountsUrlResponse" message="tns:getUserAccountsUrlResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserRoles">
      <wsdl:input name="removeUserRoles" message="tns:removeUserRoles">
    </wsdl:input>
      <wsdl:output name="removeUserRolesResponse" message="tns:removeUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastSignIn">
      <wsdl:input name="getLastSignIn" message="tns:getLastSignIn">
    </wsdl:input>
      <wsdl:output name="getLastSignInResponse" message="tns:getLastSignInResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserByEmail">
      <wsdl:input name="getUserByEmail" message="tns:getUserByEmail">
    </wsdl:input>
      <wsdl:output name="getUserByEmailResponse" message="tns:getUserByEmailResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input name="getUsers" message="tns:getUsers">
    </wsdl:input>
      <wsdl:output name="getUsersResponse" message="tns:getUsersResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserApiServiceSoapBinding" type="tns:UserApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTags">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTags">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTagsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCurrentUserHasServerFileAccess">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentUserHasServerFileAccess">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentUserHasServerFileAccessResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserAccountsUrl">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserAccountsUrl">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserAccountsUrlResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastSignIn">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLastSignIn">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLastSignInResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserByEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserByEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserByEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserApiService">
    <wsdl:port name="UserApiPort" binding="tns:UserApiServiceSoapBinding">
      <soap:address location="http://localhost:9090/UserApiPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
